/*---------------------------------------------------------------
7.0 Responsive
---------------------------------------------------------------*/
@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1470px; } }

@media only screen and (min-width: 1800px) {
  .rise-full-content-wrap .rise-number li:first-child {
    right: 512px;
    top: 170px; } }
