/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*---------------------------------------------------------------
3.0 Common
---------------------------------------------------------------*/
/*---------------------------------------------------------------
4.0 Banner
---------------------------------------------------------------*/
/*---------------------------------------------------------------
5.0 Main 
---------------------------------------------------------------*/
/*---------------------------------------------------------------
6.0 Footer
---------------------------------------------------------------*/
/*---------------------------------------------------------------
7.0 Responsive
---------------------------------------------------------------*/
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
body,
html {
  font-family: "Montserrat", sans-serif; }

.wrapper {
  overflow-x: hidden; }

ul,
ol {
  padding: 0;
  margin-bottom: 0; }

ol {
  margin-left: 1.1em; }

address {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%; }

.center-block {
  float: none; }

/*---------- Heading ----------*/
h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 400; }

h2 {
  font-size: 50px;
  text-transform: uppercase; }

h3 {
  font-size: 40px;
  text-transform: uppercase;
  color: #182d4c;
  font-weight: 600;
  letter-spacing: 2px; }

h4,
h4 a {
  font-size: 30px;
  font-weight: 600;
  color: #182d4c; }

h5,
h5 a {
  font-size: 20px;
  color: #182d4c;
  font-weight: 600; }

h6 {
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; }

p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #7a7a7a;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px; }

span {
  font-family: "Montserrat", sans-serif;
  color: #7981a1;
  font-size: 16px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: "Montserrat", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption {
  word-break: break-word;
  word-wrap: break-word; }

/*---------- Form ---------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #ffffff;
  color: #7981a1;
  font-family: "Montserrat", sans-serif;
  padding: 8px 15px;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-transform: capitalize;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  height: 50px; }

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #e5e7eb;
  border: 1px solid #0e1326;
  color: #0e1326; }

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0; }

input[type="text"] {
  text-transform: capitalize !important; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.form-control {
  border: 1px solid #e0e2e7;
  color: #848991;
  background: #e5e7eb;
  padding: 15px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
  vertical-align: middle;
  height: 45px;
  line-height: 45px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
  outline: 0;
  border-color: #182d4c;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #e5e7eb; }

.slick-slide {
  outline: none; }

.form-control::-moz-placeholder {
  color: #7981a1 !important; }

.form-control::-webkit-input-placeholder {
  color: #7981a1 !important; }

/*---------- 2.1.3 Links ----------*/
a {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #000000; }

/*---------- 2.2 Table -----------*/
table,
th,
td {
  border: 1px solid #eaeaea; }

table {
  width: 100%; }

th,
td {
  padding: 0.4375em; }

table,
dd,
address {
  margin: 0 0 1.75em; }

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*----- Header-Top -----*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99; }

.header-wrapper {
  padding: 0px 15px; }
  .header-wrapper .logo-wrapper .logo {
    width: 40%;
    overflow: hidden;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    @media only screen and (max-width: 1199px) {
      .header-wrapper .logo-wrapper .logo {
        width: 32%;
        -webkit-transform: translateX(-160%);
        -ms-transform: translateX(-160%);
        transform: translateX(-160%); } }
    .header-wrapper .logo-wrapper .logo a {
      display: inline-block; }
  .header-wrapper .icon-wrapper {
    margin: 25px 0; }
  .header-wrapper .contact-info-wrap a {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400; }
    @media only screen and (max-width: 1499px) {
      .header-wrapper .contact-info-wrap a {
        font-size: 20px; } }
    .header-wrapper .contact-info-wrap a:before {
      content: "\f098";
      font-family: FontAwesome;
      margin-right: 15px; }
    .header-wrapper .contact-info-wrap a:hover {
      color: #ffffff;
      opacity: 0.5; }

.slide.header-wrapper .logo-wrapper .logo {
  -webkit-transform: translateX(85%);
  -ms-transform: translateX(85%);
  transform: translateX(85%); }
  @media only screen and (max-width: 1499px) {
    .slide.header-wrapper .logo-wrapper .logo {
      -webkit-transform: translateX(22%);
      -ms-transform: translateX(22%);
      transform: translateX(22%); } }
  @media only screen and (max-width: 1199px) {
    .slide.header-wrapper .logo-wrapper .logo {
      -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      transform: translateX(-25%); } }

/*----- Sidebar Header -----*/
#sidebar-header-wrapper {
  overflow: hidden;
  bottom: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  width: 450px;
  z-index: 99;
  background: #0a0815; }
  @media only screen and (max-width: 1499px) {
    #sidebar-header-wrapper {
      width: 330px; } }
  #sidebar-header-wrapper .sidebar-title-wrap {
    background: #14112c;
    text-align: center;
    padding: 20px; }
    #sidebar-header-wrapper .sidebar-title-wrap span {
      font-size: 25px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 1px; }
  #sidebar-header-wrapper .sidebar-content-wrapper {
    padding: 40px 50px; }
  #sidebar-header-wrapper.sidebar-right-align {
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  #sidebar-header-wrapper.sidebar-left-align {
    left: 0;
    right: inherit;
    -webkit-transform: translatex(-100%);
    -ms-transform: translatex(-100%);
    transform: translatex(-100%); }
  #sidebar-header-wrapper #site-navigation li {
    list-style: none;
    margin-bottom: 20px;
    text-transform: uppercase; }
    #sidebar-header-wrapper #site-navigation li a {
      color: #ffffff;
      font-size: 30px; }
      @media only screen and (max-width: 1499px) {
        #sidebar-header-wrapper #site-navigation li a {
          font-size: 20px; } }
      #sidebar-header-wrapper #site-navigation li a:hover {
        color: #5678da; }
    #sidebar-header-wrapper #site-navigation li.current-menu-child a {
      color: #5678da; }
    @media only screen and (max-width: 1499px) {
      #sidebar-header-wrapper #site-navigation li {
        margin-bottom: 10px; } }

#sidebar-header-wrapper.slide-in {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

/*----- Toggle Button -----*/
.collapsed-button .lines,
.collapsed-button .lines::after,
.collapsed-button .lines::before,
.collapsed-button.closed .lines::after,
.collapsed-button.closed .lines::before {
  background-color: #ffffff; }

.collapsed-button {
  cursor: pointer;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 9999; }

.lines {
  display: inline-block;
  height: 4px;
  position: relative;
  top: -4px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  width: 30px; }
  .lines:before {
    top: 11px; }
  .lines:after {
    top: -11px; }

.lines::after,
.lines::before {
  content: "";
  display: inline-block;
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transition: top 0.3s ease 0.2s, background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0.2s, background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -o-transition: top 0.3s ease 0.2s, transform 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: top 0.3s ease 0.2s, transform 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: top 0.3s ease 0.2s, transform 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  width: 30px; }

.collapsed-button.closed .lines::after,
.collapsed-button.closed .lines::before {
  top: 0;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.2s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.2s;
  -o-transition: top 0.3s ease 0s, transform 0.3s ease 0.2s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.2s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s; }

.collapsed-button.closed .lines {
  background-color: transparent;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }
  .collapsed-button.closed .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

/*----- Sticky Header -----*/
.fixed-header .sticky-header {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  background: rgba(4, 40, 81, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 30px; }

/*----- Sphere Animation -----*/
* {
  /* PREVENTS THE GRAY HIGHLIGHTING ON CLICK AND DRAG */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.dg.ac {
  display: none; }

/*---------------------------------------------------------------
3.0 Common
---------------------------------------------------------------*/
/*-- Section Padding --*/
.pad-tb-80 {
  padding: 80px 0px; }
  @media only screen and (max-width: 1499px) {
    .pad-tb-80 {
      padding: 50px 0px; } }

.pad-tb-50 {
  padding: 80px 0px; }

.mrgn-btm-sm {
  margin-bottom: 40px; }

/*-- Title Section --*/
.title-section h3 {
  color: #182d4c; }
  @media only screen and (max-width: 1499px) {
    .title-section h3 {
      font-size: 28px; } }

@media only screen and (max-width: 1499px) {
  h4 {
    font-size: 22px; }
  h5 {
    font-size: 16px; }
  p {
    font-size: 15px; } }

/*-- Border Bottom --*/
.bdr-btm h3 {
  position: relative; }

.bdr-btm h3::after {
  background: #02912d;
  bottom: -15px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 55px; }

/*-- Read More --*/
.read-more {
  color: #182d4c;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  display: block; }
  .read-more:after {
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 15px; }
  .read-more:hover {
    opacity: 0.5; }

/*---------------------------------------------------------------
4.0 Banner
---------------------------------------------------------------*/
/*------ Home Banner -----*/
.banner-wrapper {
  height: 900px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden; }
  .banner-wrapper .carousel-inner .carousel-item {
    background-position: center center !important;
    background-size: cover !important;
    height: 100%; }
  .banner-wrapper:before {
    background: black;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.1; }
  .banner-wrapper .banner_caption {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .banner-wrapper .banner_caption h1 {
      color: #ffffff;
      letter-spacing: 2px;
      margin-bottom: 30px; }
      @media only screen and (max-width: 1499px) {
        .banner-wrapper .banner_caption h1 {
          font-size: 50px;
          margin-bottom: 20px; } }
      @media only screen and (max-width: 1199px) {
        .banner-wrapper .banner_caption h1 {
          font-size: 30px; } }
    .banner-wrapper .banner_caption p {
      color: #ffffff;
      font-size: 30px;
      line-height: 35px;
      margin: 0 auto;
      width: 37%; }
      @media only screen and (max-width: 1499px) {
        .banner-wrapper .banner_caption p {
          font-size: 50px;
          margin-bottom: 20px;
          line-height: 30px;
          font-size: 22px; } }
      @media only screen and (max-width: 1199px) {
        .banner-wrapper .banner_caption p {
          font-size: 17px;
          width: 50%; } }
    .banner-wrapper .banner_caption ul {
      margin-top: 50px; }
      .banner-wrapper .banner_caption ul li {
        margin: 0px 15px; }
      @media only screen and (max-width: 1199px) {
        .banner-wrapper .banner_caption ul {
          margin-top: 35px; } }

.banner-btn {
  position: relative;
  height: 45px;
  width: 240px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  background: transparent;
  color: #ffffff;
  display: inline-block;
  padding: 8px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .banner-btn:after {
    border-width: 0 2px;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  .banner-btn:before {
    border-width: 2px 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0); }
  .banner-btn:hover {
    color: #ffffff;
    border-color: #ffffff;
    opacity: 0.5; }
  .banner-btn i {
    margin-left: 20px; }
  @media only screen and (max-width: 1199px) {
    .banner-btn {
      font-size: 13px;
      width: 200px;
      height: 40px; } }

.banner-btn::before,
.banner-btn::after {
  border-style: solid;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  border-radius: 4px;
  border-color: #ffffff; }

.banner-btn:hover::before,
.banner-btn:hover::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  border-color: #ffffff;
  opacity: 0.5; }

/*----- Inner Banner -----*/
.inner-banner-wrapper {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  height: 850px;
  position: relative; }
  .inner-banner-wrapper .banner_caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    right: 20px;
    z-index: 2; }
    .inner-banner-wrapper .banner_caption h1 {
      font-size: 50px;
      color: #ffffff;
      margin-bottom: 25px;
      font-weight: 600; }
    .inner-banner-wrapper .banner_caption p {
      color: #ffffff;
      width: 66%;
      margin: 0 auto; }

.inner-banner-wrapper.blur:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 1;
  transition: all 2s linear;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear; }

/*---------------------------------------------------------------
5.0 Main 
---------------------------------------------------------------*/
/*----- Grow Section ------*/
.grow-wrapper {
  background-size: cover;
  background-position: center; }
  .grow-wrapper .title-section {
    margin-bottom: 50px; }
    .grow-wrapper .title-section h3 {
      margin-bottom: 30px; }
  .grow-wrapper .grid-item {
    margin-bottom: 30px;
    padding: 0px 50px; }
  .grow-wrapper .img-sec {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 25px; }

/*----- Special Slider ------*/
.special-slider .special-item {
  text-align: center;
  display: inline-block !important;
  float: inherit;
  vertical-align: middle; }
  .special-slider .special-item a {
    display: inline-block; }
    .special-slider .special-item a img {
      width: 70%;
      display: inline; }

/*----- Everyone Section -----*/
.for-everyone-wrap {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 200px 0px; }
  .for-everyone-wrap h3 {
    margin-bottom: 30px; }
  .for-everyone-wrap h5,
  .for-everyone-wrap h3,
  .for-everyone-wrap h4,
  .for-everyone-wrap p {
    color: #ffffff; }
  .for-everyone-wrap .title-section {
    margin-bottom: 50px; }
  .for-everyone-wrap .bdr-btm h3:after {
    background: #fff; }

/*----- Business Section -----*/
.business-wrap {
  background-size: cover;
  background-position: center; }
  .business-wrap .title-section {
    margin-bottom: 50px; }

.business-info-wrap {
  margin-bottom: 50px; }
  .business-info-wrap .info-sec {
    background: #042851;
    padding: 30px;
    height: 215px; }
    .business-info-wrap .info-sec img {
      width: 50%; }
    .business-info-wrap .info-sec h5,
    .business-info-wrap .info-sec p {
      color: #ffffff; }
    .business-info-wrap .info-sec h5 {
      font-weight: 700; }

.business-grid-wrap {
  margin-bottom: 30px; }
  .business-grid-wrap .grid-item {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 4px;
    min-height: 350px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    min-height: 400px; }
    .business-grid-wrap .grid-item h5 {
      font-weight: 600;
      margin-bottom: 30px;
      line-height: 23px; }
    .business-grid-wrap .grid-item ul {
      margin-bottom: 30px;
      height: 200px; }
      .business-grid-wrap .grid-item ul li {
        font-size: 18px;
        color: #7e7e7e;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        margin-bottom: 8px; }
        .business-grid-wrap .grid-item ul li:before {
          content: "\f111";
          font-family: FontAwesome;
          font-size: 5px;
          display: inline-block;
          vertical-align: middle; }
        @media only screen and (max-width: 1499px) {
          .business-grid-wrap .grid-item ul li {
            font-size: 16px; } }
    .business-grid-wrap .grid-item:hover {
      -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      transform: translateY(-6px); }
  .business-grid-wrap a.button {
    display: inline-block;
    border-radius: 4px;
    background: #2898f3;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border: 1px solid #2898f3; }
    .business-grid-wrap a.button:hover {
      opacity: 1;
      background: #ffffff;
      color: #2898f3; }

.business-slider-wrap {
  padding-top: 50px; }
  .business-slider-wrap .business-slider-grid h3,
  .business-slider-wrap .business-slider-grid p,
  .business-slider-wrap .business-slider-grid h5 {
    color: #ffffff; }
  .business-slider-wrap .business-slider-grid p {
    margin-bottom: 2rem; }
  .business-slider-wrap .business-slider-grid h3 {
    margin-bottom: 30px; }
    @media only screen and (max-width: 1499px) {
      .business-slider-wrap .business-slider-grid h3 {
        font-size: 24px;
        margin-bottom: 20px; } }
  .business-slider-wrap .info-sec {
    width: 50%; }
    .business-slider-wrap .info-sec h5 {
      margin-bottom: 0px; }
    .business-slider-wrap .info-sec p {
      line-height: 22px; }
  .business-slider-wrap .img-sec {
    width: 30%;
    float: left;
    height: 550px;
    overflow: hidden;
    background-size: cover;
    background-position: center center; }
  .business-slider-wrap .content-sec {
    width: 70%;
    float: left;
    background: #0e1326;
    padding: 30px 50px;
    position: relative;
    height: 550px; }
    .business-slider-wrap .content-sec .quote-wrap {
      text-align: right; }
      .business-slider-wrap .content-sec .quote-wrap img {
        display: inline-block;
        width: 6%; }
    .business-slider-wrap .content-sec svg {
      height: 50px;
      width: 50px; }
      .business-slider-wrap .content-sec svg path {
        fill: #ffffff; }

/*----- Slick Arrow -----*/
.slick-slider:hover .slick-arrow {
  opacity: 1; }

.slick-slider:hover .slick-prev.slick-arrow {
  -webkit-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  transform: translateX(-60px); }

.slick-slider:hover .slick-next.slick-arrow {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px); }

.slick-arrow {
  position: absolute;
  cursor: pointer;
  top: 44%;
  font-size: 30px;
  padding: 4px;
  border-radius: 100%;
  z-index: 9;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  opacity: 0;
  width: 55px;
  height: 55px;
  text-align: center; }

.slick-prev.slick-arrow {
  left: 30px; }

.slick-next.slick-arrow {
  right: 30px; }

/*----- Case Study -----*/
.case-study-wrap {
  background: #2898f3; }
  .case-study-wrap h3 {
    color: #ffffff; }

/*----- Rise Full -----*/
.rise-full-wrap {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 350px 0px;
  position: relative; }

.rise-full-wrap .rise-full-content-sec {
  background-position: right 98%;
  background-size: cover;
  height: 850px;
  margin: 0 auto;
  width: 850px;
  position: relative; }

.rise-full-wrap .title-section {
  left: 0;
  position: absolute;
  right: 0;
  top: 60px; }

.rise-full-wrap .title-section h5 {
  text-transform: capitalize; }

/*----- Center Section -----*/
.rise-full-content-sec .center-content {
  left: 0px;
  margin: 0 auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 412px; }

/*----- Number Section -----*/
.rise-full-content-sec .rise-number span {
  background: #2d3766;
  color: #ffffff;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  padding: 5px;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-weight: 600; }

.rise-full-content-sec .content-sec .rise-title,
.rise-full-content-sec .content-sec .rise-number {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 24%; }

.rise-full-content-sec .content-sec.sec-one .rise-number {
  left: 0;
  right: 0;
  top: -20px; }

.rise-full-content-sec .content-sec.sec-two .rise-number {
  right: 25px;
  top: 102px; }

.rise-full-content-sec .content-sec.sec-three .rise-number {
  right: -100px;
  top: 400px; }

.rise-full-content-sec .content-sec.sec-four .rise-number {
  bottom: 122px;
  right: 12px; }

.rise-full-content-sec .content-sec.sec-five .rise-number {
  bottom: -18px;
  left: 0;
  right: 0; }

.rise-full-content-sec .content-sec.sec-six .rise-number {
  bottom: 100px;
  left: 20px; }

.rise-full-content-sec .content-sec.sec-seveen .rise-number {
  bottom: 400px;
  left: -105px; }

.rise-full-content-sec .content-sec.sec-eight .rise-number {
  left: 44px;
  top: 75px; }

/*----- Rise Title Section -----*/
.rise-full-content-sec .rise-title span {
  color: #ffffff;
  font-size: 19px;
  font-weight: 600; }

.rise-full-content-sec .content-sec.sec-one .rise-title {
  left: 0;
  right: 0;
  top: 126px; }

.rise-full-content-sec .content-sec.sec-two .rise-title {
  top: 215px;
  right: 130px; }

.rise-full-content-sec .content-sec.sec-three .rise-title {
  right: 45px;
  top: 396px; }

.rise-full-content-sec .content-sec.sec-four .rise-title {
  right: 115px;
  bottom: 220px; }

.rise-full-content-sec .content-sec.sec-five .rise-title {
  right: 0px;
  left: 0;
  bottom: 118px; }

.rise-full-content-sec .content-sec.sec-six .rise-title {
  bottom: 192px;
  left: 112px; }

.rise-full-content-sec .content-sec.sec-seveen .rise-title {
  bottom: 395px;
  left: 40px; }

.rise-full-content-sec .content-sec.sec-eight .rise-title {
  left: 110px;
  top: 200px; }

/*----- Rise Full Content Section ------*/
.rise-full-content-sec .content-sec .rise-content {
  position: absolute;
  margin: 0 auto;
  width: 40%; }

.rise-full-content-sec .content-sec .rise-content ul {
  overflow: hidden; }

.rise-full-content-sec .content-sec .rise-content .social-share li {
  margin: 5px;
  text-align: center;
  width: 80px;
  float: left; }

.rise-full-content-sec .content-sec .rise-content li {
  list-style: outside none none; }

.rise-full-content-sec .content-sec .rise-content li {
  color: #2d3766;
  font-size: 18px;
  font-weight: 600;
  list-style: outside none none; }

.rise-full-content-sec .rise-content .advertisement {
  float: left;
  margin-right: 20px;
  width: 20%; }

.rise-full-content-sec .content-sec.sec-one .rise-content {
  left: 40px;
  right: 0;
  top: -158px; }

.rise-full-content-sec .content-sec.sec-two .rise-content {
  right: -220px;
  top: -75px; }

.rise-full-content-sec .content-sec.sec-three .rise-content {
  right: -392px;
  top: 308px; }

.rise-full-content-sec .content-sec.sec-four .rise-content {
  right: -201px;
  bottom: 35px; }

.rise-full-content-sec .content-sec.sec-five .rise-content {
  bottom: -135px;
  left: 78px;
  right: 0; }

.rise-full-content-sec .content-sec.sec-six .rise-content {
  bottom: -25px;
  left: -800px;
  right: 0; }

.rise-full-content-sec .content-sec.sec-seveen .rise-content {
  left: -1330px;
  right: 0;
  top: 311px; }

.rise-full-content-sec .content-sec.sec-seveen .rise-content ul:first-child {
  margin-bottom: 30px; }

.rise-full-content-sec .content-sec.sec-seveen .rise-content .social-share li {
  margin: 6px;
  width: 30px; }

.rise-full-content-sec .content-sec.sec-eight .rise-content {
  left: -850px;
  right: 0;
  top: -80px; }

/*----- Over Everything -----*/
.over-everything .title-section {
  margin-bottom: 60px; }
  .over-everything .title-section h3 {
    margin-bottom: 30px; }

.over-everything ul {
  margin-bottom: 50px; }
  .over-everything ul li {
    width: 30%; }

.over-everything .row .title-section {
  margin-bottom: 0px; }

.over-everything .content-sec {
  margin-bottom: 90px; }

.over-everything .mobile-wrap {
  position: absolute;
  bottom: 0; }

/*----- Our Latest -----*/
.our-latest-wrap {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .our-latest-wrap .title-section {
    margin-bottom: 50px; }
    .our-latest-wrap .title-section h3 {
      color: #ffffff; }
  .our-latest-wrap .grid-item {
    background: #ffffff;
    padding: 30px;
    border-radius: 6px; }
    .our-latest-wrap .grid-item h3 {
      margin-bottom: 25px; }
    .our-latest-wrap .grid-item a.read-more {
      text-align: right; }
  .our-latest-wrap .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

/*----- Get In Touch -----*/
.get-in-touch-wrap {
  background: #f3f3f3; }
  .get-in-touch-wrap .title-section {
    margin-bottom: 50px; }
  .get-in-touch-wrap form .button {
    width: 120px; }
    .get-in-touch-wrap form .button:hover {
      background: #042851;
      color: #ffffff; }

/*----- Win Us Section -----*/
.win-wrapper {
  background-size: cover;
  background-position: center; }

.win-grid .title-section {
  margin-bottom: 50px; }
  .win-grid .title-section h3,
  .win-grid .title-section h5 {
    margin-bottom: 30px; }
  .win-grid .title-section a {
    color: #363636;
    font-weight: 600;
    font-size: 30px; }
    .win-grid .title-section a:hover {
      color: #5678da; }

/*----- LeaderShip Section -----*/
.leadership-wrap .title-section h3 {
  margin-bottom: 30px; }

.leadership-wrap .grid-item .featured-img {
  margin-bottom: 30px; }

.leadership-wrap .grid-item .content-sec h4 {
  margin-bottom: 0px; }
  .leadership-wrap .grid-item .content-sec h4 a {
    color: #363636; }

.leadership-wrap .grid-item .content-sec p {
  color: #363636; }

.leadership-wrap .grid-item .content-sec span {
  color: #363636;
  margin-bottom: 20px;
  display: block;
  font-weight: 600; }

.leadership-wrap .team-grid-wrap {
  margin-bottom: 50px; }

.leadership-wrap .grid-wrap .featured-img {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .leadership-wrap .grid-wrap .featured-img:hover {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px); }

/*----- Bottom Line Section -----*/
.bottom-line-wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0px; }
  .bottom-line-wrap h3 {
    margin-bottom: 50px;
    color: #ffffff; }
  .bottom-line-wrap p {
    margin-bottom: 0px;
    color: #ffffff; }

/*----- Afraid Section -----*/
.afraid-wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 150px 0px;
  text-align: center;
  margin: 0 auto; }
  .afraid-wrap .blockquote img {
    width: 6%;
    margin-bottom: 25px; }
  .afraid-wrap p {
    color: #ffffff;
    font-weight: 600;
    line-height: 30px;
    margin: 0 auto;
    width: 33%;
    margin-bottom: 30px; }
  .afraid-wrap span {
    color: #ffffff;
    font-weight: 400; }

/*----- What We Do Grid -----*/
.alternate-grid-wrap .relative {
  position: relative; }
  .alternate-grid-wrap .relative .featured-thumb {
    position: absolute;
    bottom: 0; }

.alternate-grid-wrap .alt-grid-sec h5 {
  margin-bottom: 20px; }

.alternate-grid-wrap .alt-grid-sec .featured-thumb {
  margin: 0 auto; }
  .alternate-grid-wrap .alt-grid-sec .featured-thumb img {
    width: 100%; }

.alternate-grid-wrap .alt-grid-sec .content-sec {
  padding: 80px 0px; }

.alt-sec-fourth .featured-thumb {
  padding: 60px 0;
  width: 75%; }

.alt-sec-third .featured-thumb {
  padding: 60px 0 30px;
  width: 60%; }

.alt-sec-fifth .featured-thumb {
  padding: 130px 0; }

.even-sec {
  background: #f7f7f7;
  text-align: right; }

/*----- What We Do List -----*/
.what-we-do-list {
  padding: 50px 0px 0px; }
  .what-we-do-list ul {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px; }
  .what-we-do-list .arrow {
    background: #ffffff;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    width: 60px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    .what-we-do-list .arrow i {
      font-family: FontAwesome;
      font-size: 30px;
      font-style: normal;
      color: #000000; }
    .what-we-do-list .arrow:hover {
      background: #e7e7e7; }
  .what-we-do-list li {
    width: 19%;
    text-align: center; }
    .what-we-do-list li .icon-img {
      margin: 0 auto;
      width: 60%; }
    .what-we-do-list li img {
      margin-bottom: 10px;
      width: 100%; }
    .what-we-do-list li.list-inline-item:not(:last-child) {
      margin-right: 0px; }
    .what-we-do-list li h6 {
      color: #868686; }
    .what-we-do-list li a {
      -webkit-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }

.top_space {
  float: left;
  height: 0;
  position: relative;
  top: -100px;
  vertical-align: top; }

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2898f3;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #2898f3; }

.return-top-wrap i {
  color: #ffffff;
  margin: 0;
  position: relative;
  left: 14px;
  top: 7px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: FontAwesome;
  font-style: normal; }

#return-to-top:hover {
  background: #ffffff;
  border-color: #2898f3; }

#return-to-top:hover i {
  color: #2898f3;
  top: 5px; }

/*----- Blog Grid Section -----*/
.blog-grid-wrapper {
  padding: 60px 0px; }
  .blog-grid-wrapper .blog-grid {
    margin-bottom: 20px; }
  .blog-grid-wrapper .grid-item .featured-thumb {
    margin-bottom: 20px; }
  .blog-grid-wrapper .grid-item .meta-info {
    margin-bottom: 8px; }
    .blog-grid-wrapper .grid-item .meta-info span,
    .blog-grid-wrapper .grid-item .meta-info a {
      color: #767676;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: capitalize; }
    .blog-grid-wrapper .grid-item .meta-info span:after {
      background: #767676;
      content: "";
      display: inline-block;
      height: 15px;
      width: 1px;
      margin: 0 5px 0 9px; }
    .blog-grid-wrapper .grid-item .meta-info span:last-child::after {
      background: none; }

.blog-single-wrapper {
  padding: 60px 0px; }

/*----- Breadcrumb -----*/
.breadcrumb {
  background: transparent none repeat scroll 0 0;
  padding: 0; }
  .breadcrumb ul li {
    float: left;
    font-weight: 600;
    font-size: 15px;
    margin: 0 5px 0 0;
    position: relative;
    list-style: none; }
    .breadcrumb ul li:after {
      color: #000000;
      content: "/";
      margin: 0 0 0 3px; }
    .breadcrumb ul li:last-child:after {
      content: inherit; }
    .breadcrumb ul li a {
      color: #000000;
      font-weight: 400; }
    .breadcrumb ul li.active a {
      color: #1c75bc; }

/*---------- Sidebar ----------*/
.sidebar .widget {
  margin-bottom: 1.5em; }

.sidebar .widget ul {
  list-style: none; }

.sidebar .widget .widget-title {
  text-transform: uppercase; }

/*----- Widget Search -----*/
.sidebar .widget_search #s {
  border-color: #e2e2e2;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 55px;
  margin-bottom: 0;
  padding: 10px 50px 10px 20px;
  background: transparent; }

.sidebar .widget_search #searchsubmit {
  position: absolute;
  right: 8px;
  top: 2px;
  font-family: FontAwesome;
  background: none;
  border: none;
  font-size: 16px;
  color: #8e8e8e;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.sidebar .widget_search #searchsubmit:hover {
  color: #1c75bc; }

.sidebar .form-control::-moz-placeholder {
  color: #231f20;
  font-size: 18px;
  font-weight: 400; }

.sidebar .widget_search form .form-group {
  margin-bottom: 0; }

.relative {
  position: relative; }

/*----- Widget Archive -----*/
.widget.widget_archive,
.widget.widget_categories {
  border: 1px solid #e2e2e2;
  padding: 30px 25px; }

/*----- Widget Categories -----*/
.widget.widget_categories .cat-item,
.widget.widget_archive li {
  position: relative; }

.widget.widget_categories .cat-item a,
.widget.widget_archive li a {
  display: block;
  padding: 7px 0px;
  text-transform: capitalize;
  -webkit-transition: padding 0.2s linear 0s;
  -o-transition: padding 0.2s linear 0s;
  transition: padding 0.2s linear 0s;
  letter-spacing: 0px; }

.widget.widget_archive li a,
.widget.widget_categories li a {
  color: #231f20;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.widget.widget_categories .cat-item a:hover,
.widget.widget_archive li a:hover {
  color: #042851; }

.widget.widget_archive li a:hover {
  padding-left: 5px; }

.widget.widget_categories .cat-item a:before,
.widget.widget_archive li a:before {
  content: "\f0da";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  color: #042851; }

.widget.widget_categories li.cat-item,
.widget.widget_archive li {
  border-bottom: 1px solid #e9e9e9; }

.widget.widget_categories li.cat-item:last-child,
.widget.widget_archive li:last-child {
  border: none; }

.widget.widget_categories li.cat-item a,
.widget.widget_archive li a {
  margin-left: 22px; }

/*----- Login Section -----*/
.login-wrap {
  background: #d2d6de; }

.login-logo {
  text-align: center;
  margin-bottom: 30px; }

.login-logo a {
  display: inline-block; }

.login-box {
  margin: auto;
  width: 360px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.login-box-body {
  background: #ffffff none repeat scroll 0 0;
  padding: 20px; }

.login-box-body .login-box-msg {
  text-align: center; }

.login-box-body .submit .btn {
  background: #042851;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  border: 1px solid #042851; }

.login-box-body .submit .btn:hover {
  background: #ffffff;
  color: #042851; }

.login-box {
  overflow-x: visible !important;
  overflow-y: auto; }

/*---------------------------------------------------------------
6.0 Footer
---------------------------------------------------------------*/
.footer-wrapper {
  background: #0e1326;
  padding: 30px 0px; }
  .footer-wrapper .footer-top {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 30px; }
  .footer-wrapper .footer-bottom {
    padding: 30px 0px; }
  .footer-wrapper .footer-logo {
    width: 20%; }
    .footer-wrapper .footer-logo a {
      display: inline-block; }
  .footer-wrapper .social-share li {
    margin: 0px 5px; }
    .footer-wrapper .social-share li a {
      color: #ffffff;
      background: #2898f3;
      display: inline-block;
      border-radius: 100%;
      height: 35px;
      padding: 6px;
      text-align: center;
      width: 35px;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1); }
      .footer-wrapper .social-share li a:hover {
        -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2); }
    .footer-wrapper .social-share li:last-child {
      margin-right: 0px; }
  .footer-wrapper .copyright-wrap span {
    font-weight: 600; }
  .footer-wrapper .copyright-wrap span,
  .footer-wrapper .copyright-wrap .policy-wrap {
    float: left; }
  .footer-wrapper .copyright-wrap .policy-wrap li {
    margin-left: 20px;
    margin-right: 0px; }
    .footer-wrapper .copyright-wrap .policy-wrap li a {
      color: #7981a1;
      font-weight: 600;
      font-size: 16px; }
      .footer-wrapper .copyright-wrap .policy-wrap li a:hover {
        color: #5678da; }
  .footer-wrapper .address-wrap {
    width: 30%; }
    .footer-wrapper .address-wrap address {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      color: #ffffff;
      font-size: 16px; }
  .footer-wrapper .nav-list li {
    list-style: none;
    overflow: hidden; }
    .footer-wrapper .nav-list li a {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      color: #ffffff;
      font-size: 16px;
      float: right;
      text-transform: uppercase; }
      .footer-wrapper .nav-list li a:hover {
        color: #5678da; }

/*---------------------------------------------------------------
7.0 Responsive
---------------------------------------------------------------*/
@media only screen and (max-width: 1680px) {
  /*----- Common Section -----*/
  .title-section h3 {
    font-size: 26px; }
  .title-section h5 {
    font-size: 16px; }
  .rise-full-wrap .title-section {
    top: 40px; }
  /*----- Rise Full Section -----*/
  .rise-full-content-sec .content-sec .rise-content li {
    font-size: 14px; }
  .rise-full-wrap .rise-full-content-sec {
    height: 750px;
    width: 750px; }
  .rise-full-wrap {
    background-position: center center !important;
    background-size: cover !important;
    overflow: hidden;
    padding: 315px 0;
    position: relative; }
  .rise-full-content-sec .rise-title span {
    font-size: 17px; }
  /*----- Rise Center Content -----*/
  .rise-full-content-sec .center-content {
    top: 360px; }
  /*----- Rise Full Content -----*/
  .rise-full-content-sec .content-sec.sec-one .rise-content {
    left: 75px;
    top: -135px; }
  .rise-full-content-sec .content-sec.sec-two .rise-content {
    right: -175px; }
  .rise-full-content-sec .content-sec.sec-three .rise-content {
    right: -350px;
    top: 280px; }
  .rise-full-content-sec .content-sec.sec-four .rise-content {
    bottom: 15px;
    right: -160px; }
  .rise-full-content-sec .content-sec.sec-five .rise-content {
    bottom: -110px; }
  .rise-full-content-sec .content-sec.sec-seveen .rise-content {
    left: -1120px;
    right: 0;
    top: 290px; }
  .rise-full-content-sec .content-sec.sec-eight .rise-content {
    left: -630px;
    top: -50px; }
  /*----- Number Section -----*/
  .rise-full-content-sec .content-sec.sec-one .rise-number {
    left: 15px;
    top: -22px; }
  .rise-full-content-sec .content-sec.sec-two .rise-number {
    right: 22px;
    top: 90px; }
  .rise-full-content-sec .content-sec.sec-three .rise-number {
    right: -88px;
    top: 350px; }
  .rise-full-content-sec .content-sec.sec-four .rise-number {
    bottom: 99px; }
  .rise-full-content-sec .content-sec.sec-six .rise-number {
    bottom: 85px;
    left: 26px; }
  .rise-full-content-sec .content-sec.sec-seveen .rise-number {
    bottom: 365px;
    left: -90px; }
  .rise-full-content-sec .content-sec.sec-eight .rise-number {
    left: 43px;
    top: 64px; }
  /*----- Title Section -----*/
  .rise-full-content-sec .content-sec.sec-one .rise-title {
    top: 108px; }
  .rise-full-content-sec .content-sec.sec-two .rise-title {
    right: 115px;
    top: 195px; }
  .rise-full-content-sec .content-sec.sec-three .rise-title {
    right: 40px;
    top: 350px; }
  .rise-full-content-sec .content-sec.sec-four .rise-title {
    bottom: 196px;
    right: 108px; }
  .rise-full-content-sec .content-sec.sec-six .rise-title {
    bottom: 173px; }
  .rise-full-content-sec .content-sec.sec-seveen .rise-title {
    bottom: 350px;
    left: 40px; }
  .rise-full-content-sec .content-sec.sec-eight .rise-title {
    left: 110px;
    top: 175px; } }

@media only screen and (max-width: 1499px) {
  /*----- Banner Section -----*/
  .banner-wrapper {
    height: 600px; }
  .for-everyone-wrap {
    padding: 150px 0px; }
  .inner-banner-wrapper .banner_caption h1 {
    font-size: 35px; }
  .inner-banner-wrapper {
    height: 600px; }
  .banner-wrapper .banner_caption h1 {
    font-size: 40px !important; }
  .banner-wrapper .banner_caption p {
    font-size: 18px !important;
    line-height: 25px !important; }
  /*----- Header Section -----*/
  .header-wrapper .contact-info-wrap a {
    font-size: 20px; }
  .slide.header-wrapper .logo-wrapper .logo {
    -webkit-transform: translateX(22%);
    -ms-transform: translateX(22%);
    transform: translateX(22%); }
  #sidebar-header-wrapper {
    width: 330px; }
  #sidebar-header-wrapper #site-navigation li a {
    font-size: 20px; }
  #sidebar-header-wrapper #site-navigation li {
    margin-bottom: 10px; }
  /*----- Common Section -----*/
  .pad-tb-80 {
    padding: 50px 0px; }
  h4 {
    font-size: 22px; }
  h5 {
    font-size: 16px; }
  p {
    font-size: 15px; }
  .pad-tb-50 {
    padding: 65px 0; }
  /*----- Banner Section -----*/
  .banner-wrapper {
    height: 650px; }
  .banner-wrapper .banner_caption h1 {
    font-size: 50px;
    margin-bottom: 20px; }
  .banner-wrapper .banner_caption p {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 22px; }
  .business-grid-wrap .grid-item ul li {
    font-size: 16px; }
  .business-slider-wrap h3 {
    font-size: 24px;
    margin-bottom: 20px; }
  /*----- Rise Full-Section -----*/
  .rise-full-wrap .rise-full-content-sec {
    height: 650px;
    width: 650px; }
  .rise-full-content-sec .center-content {
    top: 316px; }
  .rise-full-content-sec .center-content h4 {
    font-size: 20px; }
  .rise-full-content-sec .content-sec .rise-content {
    width: 50%; }
  /*----- Number Section -----*/
  .rise-full-content-sec .rise-number span {
    font-size: 20px;
    height: 40px;
    width: 40px; }
  .rise-full-content-sec .content-sec.sec-two .rise-number {
    right: 18px;
    top: 75px; }
  .rise-full-content-sec .content-sec.sec-three .rise-number {
    right: -75px;
    top: 293px; }
  .rise-full-content-sec .content-sec.sec-four .rise-number {
    bottom: 83px; }
  .rise-full-content-sec .content-sec.sec-six .rise-number {
    bottom: 70px; }
  .rise-full-content-sec .content-sec.sec-seveen .rise-number {
    bottom: 310px;
    left: -75px; }
  .rise-full-content-sec .content-sec.sec-eight .rise-number {
    left: 40px;
    top: 54px; }
  .rise-full-content-sec .rise-title span {
    font-size: 15px; }
  /*----- Title Section -----*/
  .rise-full-content-sec .content-sec.sec-one .rise-title {
    top: 90px; }
  .rise-full-content-sec .content-sec.sec-two .rise-title {
    right: 100px;
    top: 170px; }
  .rise-full-content-sec .content-sec.sec-three .rise-title {
    right: 35px;
    top: 304px; }
  .rise-full-content-sec .content-sec.sec-four .rise-title {
    bottom: 165px;
    right: 91px; }
  .rise-full-content-sec .content-sec.sec-five .rise-title {
    bottom: 95px; }
  .rise-full-content-sec .content-sec.sec-six .rise-title {
    bottom: 154px;
    left: 98px; }
  .rise-full-content-sec .content-sec.sec-seveen .rise-title {
    bottom: 300px; }
  .rise-full-content-sec .content-sec.sec-eight .rise-title {
    left: 99px;
    top: 152px; }
  /*----- Content Section -----*/
  .rise-full-content-sec .content-sec.sec-two .rise-content {
    right: -210px; }
  .rise-full-content-sec .content-sec.sec-three .rise-content {
    top: 235px; }
  .rise-full-content-sec .content-sec.sec-four .rise-content {
    right: -225px; }
  .rise-full-content-sec .content-sec.sec-five .rise-content {
    left: 127px; }
  .rise-full-content-sec .content-sec.sec-six .rise-content {
    left: -655px; }
  .rise-full-content-sec .content-sec.sec-seveen .rise-content {
    left: -978px;
    top: 250px; }
  /*----- Win Section -----*/
  .win-grid .title-section a {
    font-size: 22px; }
  /*----- Bottom Line Section -----*/
  .bottom-line-wrap {
    padding: 80px 0; }
  .afraid-wrap {
    padding: 100px 0px; }
  /*----- Grid Section -----*/
  .leadership-wrap .team-grid-wrap {
    margin-bottom: 30px; }
  /*----- Business Slider Wrap -----*/
  .business-slider-wrap .img-sec {
    height: 450px; }
  .business-slider-wrap .content-sec {
    height: 450px;
    padding: 20px 40px; } }

@media only screen and (max-width: 1280px) {
  /*----- Rise Full Section -----*/
  .rise-full-wrap .rise-full-content-sec {
    height: 560px;
    width: 560px; }
  .rise-full-content-sec .center-content {
    top: 274px; }
  .rise-full-content-sec .content-sec .rise-content .social-share li {
    width: 60px; }
  /*----- Rise Content Section -----*/
  .rise-full-content-sec .content-sec.sec-two .rise-content {
    right: -220px;
    top: -135px; }
  .rise-full-content-sec .content-sec .rise-content {
    width: 45%; }
  .rise-full-content-sec .content-sec.sec-three .rise-content {
    top: 200px;
    right: -300px; }
  .rise-full-content-sec .content-sec.sec-four .rise-content {
    right: -162px; }
  .rise-full-content-sec .content-sec.sec-five .rise-content {
    left: 60px; }
  .rise-full-content-sec .content-sec.sec-six .rise-content {
    left: -578px;
    bottom: -55px; }
  .rise-full-content-sec .content-sec.sec-seveen .rise-content {
    left: -895px;
    top: 158px; }
  .rise-full-content-sec .content-sec.sec-eight .rise-content {
    left: -565px;
    top: -80px; }
  /*----- Rise Title Section -----*/
  .rise-full-content-sec .content-sec.sec-one .rise-title {
    top: 76px; }
  .rise-full-content-sec .content-sec.sec-two .rise-title {
    right: 85px;
    top: 145px; }
  .rise-full-content-sec .content-sec.sec-three .rise-title {
    right: 30px;
    top: 260px; }
  .rise-full-content-sec .content-sec.sec-four .rise-title {
    bottom: 145px;
    right: 78px; }
  .rise-full-content-sec .content-sec.sec-five .rise-title {
    bottom: 80px; }
  .rise-full-content-sec .content-sec.sec-six .rise-title {
    bottom: 130px;
    left: 85px; }
  .rise-full-content-sec .content-sec.sec-seveen .rise-title {
    bottom: 255px;
    left: 33px; }
  .rise-full-content-sec .content-sec.sec-eight .rise-title {
    left: 83px;
    top: 127px; } }

@media only screen and (max-width: 1199px) {
  /*----- Common Section -----*/
  .read-more {
    font-size: 16px; }
  .business-grid-wrap .grid-item h5,
  .business-grid-wrap .grid-item h5 a {
    margin-bottom: 18px; }
  .business-grid-wrap .grid-item ul {
    margin-bottom: 15px; }
  .business-grid-wrap .grid-item ul li {
    margin-bottom: 4px; }
  /*----- Header Section -----*/
  .lines {
    height: 3px;
    width: 27px; }
  .lines:after {
    top: -9px; }
  .lines:before {
    top: 9px; }
  .lines::after,
  .lines::before {
    height: 3px;
    width: 27px; }
  /*----- ROI Section -----*/
  .over-everything .content-sec {
    margin-bottom: 45px; }
  /*----- Slider -----*/
  .business-slider-wrap .content-sec svg {
    height: 25px;
    width: 25px; }
  /*----- Rise Full Section -----*/
  .rise-full-content-sec .center-content {
    margin-bottom: 30px !important; }
  .rise-full-wrap {
    position: inherit;
    background: none !important;
    padding: 60px 0px; }
  .rise-full-wrap .rise-full-content-sec {
    height: inherit;
    width: inherit;
    background: none !important;
    position: inherit; }
  .rise-full-wrap .title-section {
    position: inherit;
    margin-bottom: 30px; }
  .rise-full-content-sec .center-content {
    left: 0;
    margin: 0 auto;
    position: inherit;
    right: 0;
    text-align: center;
    top: 412px; }
  .rise-full-content-sec .content-sec .rise-title,
  .rise-full-content-sec .content-sec .rise-number,
  .rise-full-content-sec .content-sec .rise-content {
    position: inherit;
    float: left;
    text-align: left; }
  .rise-full-content-sec .rise-title {
    margin: 0 10px; }
  .rise-full-content-sec .rise-title span {
    color: #000000; }
  .rise-full-content-sec .content-sec .rise-title,
  .rise-full-content-sec .content-sec {
    overflow: hidden;
    margin-bottom: 30px; }
  .rise-full-content-sec .content-sec .rise-number {
    width: 10%;
    text-align: center;
    margin-right: 20px; }
  .rise-full-content-sec .content-sec .rise-title {
    width: 28%;
    margin: 8px 20px 8px 0px; }
  .rise-full-content-sec .content-sec .rise-content {
    width: 56%; } }

@media only screen and (max-width: 991px) {
  /*----- Common Section -----*/
  .mrgn-btm-sm {
    margin-bottom: 20px; }
  .device-mrgn-btm-sm {
    margin-bottom: 30px; }
  .device-mrgn-btm-sm:last-child {
    margin-bottom: 0px; }
  h5,
  h5 a {
    font-size: 16px; }
  /*----- Grow Section -----*/
  .grow-wrapper .grid-item {
    padding: 0 10px; }
  /*----- Business Grid Section ------*/
  .business-grid-wrap .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .business-grid-wrap .grid-item {
    min-height: 365px; }
  .business-grid-wrap .grid-item ul {
    height: 175px; }
  /*----- ROI Section -----*/
  .over-everything .mobile-wrap {
    display: none; }
  .over-everything .row {
    text-align: center; }
  .over-everything .title-section {
    margin-bottom: 40px; }
  .over-everything ul {
    margin-bottom: 30px; }
  /*----- Get In Touch -----*/
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="number"] {
    padding: 10px; }
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="number"],
  textarea.form-control,
  .form-control {
    font-size: 15px; }
  /*----- Slider Section -----*/
  .business-slider-wrap .content-sec {
    padding: 22px; }
  .business-slider-wrap h3 {
    font-size: 18px;
    margin-bottom: 10px; }
  .business-slider-wrap p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 1rem; } }

@media only screen and (Max-width: 767px) {
  /*----- Common Section ------*/
  .title-section h3 {
    font-size: 20px; }
  h5,
  h5 a {
    font-size: 14px; }
  .dev-mrgn-btm-sm {
    margin-bottom: 30px; }
  .dev-mrgn-btm-sm:last-child {
    margin-bottom: 0px; }
  p {
    font-size: 13px;
    line-height: 20px; }
  /*----- Header Section -----*/
  .lines {
    height: 2px;
    width: 22px; }
  .lines:after {
    top: -7px; }
  .lines:before {
    top: 7px; }
  .lines::after,
  .lines::before {
    height: 2px;
    width: 22px; }
  #sidebar-header-wrapper {
    width: 235px; }
  #sidebar-header-wrapper .sidebar-title-wrap span {
    font-size: 18px; }
  #sidebar-header-wrapper #site-navigation li {
    margin-bottom: 5px; }
  #sidebar-header-wrapper #site-navigation li a {
    font-size: 14px; }
  #sidebar-header-wrapper .sidebar-content-wrapper {
    padding: 30px; }
  .header-wrapper .contact-info-wrap a {
    font-size: 16px; }
  .header-wrapper .icon-wrapper {
    margin: 20px 0; }
  .slide.header-wrapper .logo-wrapper .logo {
    -webkit-transform: translateX(-55%);
    -ms-transform: translateX(-55%);
    transform: translateX(-55%); }
  /*----- Grow Section -----*/
  .grow-wrapper .title-section {
    margin-bottom: 25px; }
  /*----- Business Section -----*/
  .business-grid-wrap .grid-item {
    min-height: inherit; }
  .business-grid-wrap .grid-item ul {
    height: inherit; }
  .business-grid-wrap .grid-item ul li {
    font-size: 14px;
    margin-bottom: 0px; }
  /*----- Footer Section -----*/
  .footer-wrapper {
    text-align: center; }
  .footer-wrapper .footer-logo {
    width: 40%;
    margin: 0 auto 30px; }
  .footer-wrapper .justify-content-between {
    -webkit-box-pack: inherit !important;
    -ms-flex-pack: inherit !important;
    justify-content: inherit !important; }
  .footer-wrapper .d-flex {
    display: inherit !important; }
  .footer-wrapper .align-self-center {
    -ms-flex-item-align: inherit !important;
    align-self: inherit !important; }
  .footer-wrapper .float-right {
    float: inherit !important; }
  .footer-wrapper .float-left {
    float: inherit !important; }
  .footer-wrapper .address-wrap {
    width: 100%; }
  .footer-wrapper .nav-list li {
    float: left;
    margin: 0 12px; }
  .footer-wrapper .copyright-wrap .policy-wrap li {
    margin: 0 8px;
    margin-right: 0; }
  .footer-wrapper .copyright-wrap span,
  .footer-wrapper .copyright-wrap .policy-wrap {
    float: left;
    display: block;
    overflow: hidden;
    width: 100%; }
  .footer-wrapper .copyright-wrap span,
  .footer-wrapper .copyright-wrap .policy-wrap li a {
    font-size: 14px; }
  .footer-wrapper .nav-list li {
    margin: 0 12px;
    display: inline-block;
    float: none; }
  /*----- Slider Section -----*/
  .business-slider-wrap .info-sec {
    width: 100%; }
  .business-slider-wrap .info-sec p {
    line-height: 17px; }
  /*----- Rise Full Section ------*/
  .rise-full-content-sec .content-sec .rise-number,
  .rise-full-content-sec .content-sec .rise-title,
  .rise-full-content-sec .content-sec .rise-content {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 15px; }
  .rise-full-content-sec .rise-content {
    text-align: left !important;
    width: 80%;
    margin: 0 auto; } }

@media only screen and (max-width: 567px) {
  /*----- Header Section -----*/
  .header-wrapper {
    padding: 0px; }
  /*----- Banner Section -----*/
  .banner-wrapper {
    height: 380px; }
  .banner-wrapper .banner_caption h1 {
    font-size: 22px; }
  .banner-wrapper .banner_caption p {
    font-size: 14px;
    width: 90%; }
  /*----- Header Section -----*/
  .header-wrapper .logo-wrapper .logo {
    margin: 0 auto;
    text-align: center;
    width: 55%;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit; }
  .slide.header-wrapper .logo-wrapper .logo {
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit; }
  .banner-wrapper .banner_caption ul li {
    margin: 0 5px; }
  .get-in-touch-wrap form .button {
    width: 100px;
    font-size: 14px;
    height: 38px; }
  /*----- Slider Section -----*/
  .business-slider-wrap .img-sec {
    display: none; }
  .business-slider-wrap .content-sec {
    width: 100%; } }

@media only screen and (max-width: 479px) {
  .banner-wrapper .banner_caption {
    top: 25%; }
  .banner-wrapper .banner_caption ul {
    margin-top: 25px; }
  .banner-wrapper .banner_caption ul li {
    margin: 0px 0px 12px;
    width: 100%; } }

@media only screen and (max-width: 413px) {
  .banner-wrapper .banner_caption h1 {
    font-size: 18px;
    margin-bottom: 10px; }
  .banner-wrapper .banner_caption p {
    font-size: 13px;
    line-height: 22px; }
  .header-wrapper .contact-info-wrap a {
    font-size: 13px; } }

@media only screen and (max-width: 374px) {
  .business-slider .slick-track {
    height: 480px; } }
