/*---------------------------------------------------------------
4.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    height: 900px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative;
    overflow: hidden;
    .carousel-inner {
        .carousel-item {
            background-position: center center !important;
            background-size: cover !important;
            height: 100%;
        }
    }
    &:before {
        background: black;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0.1;
    }
    .banner_caption {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        h1 {
            color: $color-white;
            letter-spacing: 2px;
            margin-bottom: 30px;
            @include breakpoint(x-normal) {
                font-size: 50px;
                margin-bottom: 20px;
            }
            @include breakpoint(normal) {
                font-size: 30px;
            }
        }
        p {
            color: $color-white;
            font-size: 30px;
            line-height: 35px;
            margin: 0 auto;
            width: 37%;
            @include breakpoint(x-normal) {
                font-size: 50px;
                margin-bottom: 20px;
                line-height: 30px;
                font-size: 22px;
            }
            @include breakpoint(normal) {
                font-size: 17px;
                width: 50%;
            }
        }
        ul {
            margin-top: 50px;
            li {
                margin: 0px 15px;
            }
            @include breakpoint(normal) {
                margin-top: 35px;
            }
        }
    }
}

.banner-btn {
    position: relative;
    height: 45px;
    width: 240px;
    border: 2px solid $color-white;
    border-radius: 4px;
    text-transform: $text-uppercase;
    background: transparent;
    color: #ffffff;
    display: inline-block;
    padding: 8px;
    transition: all 0.3s ease-in-out 0s;
    &:after {
        border-width: 0 2px;
        transform: scaleY(0);
    }
    &:before {
        border-width: 2px 0;
        transform: scaleX(0);
    }
    &:hover {
        color: $color-white;
        border-color: $color-white;
        opacity: 0.5;
    }
    i {
        margin-left: 20px;
    }
    @include breakpoint(normal) {
        font-size: 13px;
        width: 200px;
        height: 40px;
    }
}

.banner-btn::before,
.banner-btn::after {
    border-style: solid;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    content: "";
    position: absolute;
    transition: transform 0.5s ease 0s;
    border-radius: 4px;
    border-color: $color-white;
}

.banner-btn:hover::before,
.banner-btn:hover::after {
    transform: scale(1, 1);
    border-color: $color-white;
    opacity: 0.5;
}

/*----- Inner Banner -----*/

.inner-banner-wrapper {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    height: 850px;
    position: relative;
    .banner_caption {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        right: 20px;
        z-index: 2;
        h1 {
            font-size: 50px;
            color: #ffffff;
            margin-bottom: 25px;
            font-weight: $font-weight-semibold;
        }
        p {
            color: #ffffff;
            width: 66%;
            margin: 0 auto;
        }
    }
}

.inner-banner-wrapper.blur:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 1; //    filter: blur(1.5px);
    //    -moz-filter: blur(1.5px);
    //    -webkit-filter: blur(1.5px);
    //    -o-filter: blur(1.5px);
    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}
