/*---------------------------------------------------------------
3.0 Common
---------------------------------------------------------------*/

/*-- Section Padding --*/

.pad-tb-80 {
    padding: 80px 0px;
    @include breakpoint(x-normal) {
        padding: 50px 0px;
    }
}

.pad-tb-50 {
    padding: 80px 0px;
}

.mrgn-btm-sm {
    margin-bottom: 40px;
}

/*-- Title Section --*/

.title-section {
    h3 {
        color: $color-dark-blue;
        @include breakpoint(x-normal) {
            font-size: 28px;
        }
    }
}

@include breakpoint(x-normal) {
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 16px;
    }
    p {
        font-size: 15px;
    }
}

/*-- Border Bottom --*/

.bdr-btm h3 {
    position: relative;
}

.bdr-btm h3::after {
    background: #02912d;
    bottom: -15px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 55px;
}

/*-- Read More --*/

.read-more {
    color: $color-dark-blue;
    font-size: 18px;
    text-transform: $text-uppercase;
    font-weight: 700;
    font-family: $font-family;
    display: block;
    &:after {
        content: "\f105";
        font-family: FontAwesome;
        margin-left: 15px;
    }
    &:hover {
        opacity: 0.5;
    }
}
