/*---------------------------------------------------------------
6.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    background: $dark-blue-clr;
    padding: 30px 0px;
    .footer-top {
        border-bottom: 2px solid $color-white;
        padding-bottom: 30px;
    }
    .footer-bottom {
        padding: 30px 0px;
    }
    .footer-logo {
        width: 20%;
        a {
            display: inline-block;
        }
    }
    .social-share {
        li {
            a {
                color: $color-white;
                background: $bg-sky-blue;
                display: inline-block;
                border-radius: 100%;
                height: 35px;
                padding: 6px;
                text-align: center;
                width: 35px;
                transform: scale(1, 1);
                &:hover {
                    transform: scale(1.2, 1.2);
                }
            }
            margin: 0px 5px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    .copyright-wrap {
        span {
            font-weight: $font-weight-semibold;
        }
        span,
        .policy-wrap {
            float: left;
        }
        .policy-wrap {
            li {
                margin-left: 20px;
                margin-right: 0px;
                a {
                    color: $color-grey;
                    font-weight: $font-weight-semibold;
                    font-size: 16px;
                    &:hover {
                        color: $sky-blue;
                    }
                }
            }
        }
    }
    .address-wrap {
        width: 30%;
        address {
            font-family: $font-family;
            font-weight: $font-weight-semibold;
            color: $color-white;
            font-size: 16px;
        }
    }
    .nav-list {
        li {
            list-style: none;
            overflow: hidden;
            a {
                font-family: $font-family;
                font-weight: $font-weight-semibold;
                color: $color-white;
                font-size: 16px;
                float: right;
                text-transform: $text-uppercase;
                &:hover {
                    color: $sky-blue;
                }
            }
        }
    }
}
