/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*----- Header-Top -----*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header-wrapper {
    padding: 0px 15px;
    .logo-wrapper {
        .logo {
            width: 40%;
            overflow: hidden;
            transform: translateX(-100%);
            transition: all 0.3s ease-in-out 0s;
            @include breakpoint(normal) {
                width: 32%;
                transform: translateX(-160%);
            }
            a {
                display: inline-block;
            }
        }
    }
    .icon-wrapper {
        margin: 25px 0;
    }
    .contact-info-wrap {
        a {
            color: $color-white;
            font-size: 30px;
            font-weight: $font-weight-regular;
            @include breakpoint(x-normal) {
                font-size: 20px;
            }
            &:before {
                content: "\f098";
                font-family: FontAwesome;
                margin-right: 15px;
            }
            &:hover {
                color: $color-white;
                opacity: 0.5;
            }
        }
    }
}

.slide.header-wrapper {
    .logo-wrapper {
        .logo {
            transform: translateX(85%);
            @include breakpoint(x-normal) {
                transform: translateX(22%);
            }
            @include breakpoint(normal) {
                transform: translateX(-25%);
            }
        }
    }
}

/*----- Sidebar Header -----*/

#sidebar-header-wrapper {
    overflow: hidden;
    bottom: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 450px;
    z-index: 99;
    background: $dark-primary;
    @include breakpoint(x-normal) {
        width: 330px;
    }
    .sidebar-title-wrap {
        background: $light-primary;
        text-align: center;
        padding: 20px;
        span {
            font-size: 25px;
            color: $color-white;
            text-transform: $text-uppercase;
            letter-spacing: 1px;
        }
    }
    .sidebar-content-wrapper {
        padding: 40px 50px;
    }
    &.sidebar-right-align {
        right: 0;
        transform: translateX(100%);
    }
    &.sidebar-left-align {
        left: 0;
        right: inherit;
        transform: translatex(-100%);
    }
    #site-navigation {
        li {
            a {
                color: $color-white;
                font-size: 30px;
                @include breakpoint(x-normal) {
                    font-size: 20px;
                }
                &:hover {
                    color: $sky-blue;
                }
            }
            &.current-menu-child {
                a {
                    color: $sky-blue;
                }
            }
            list-style: none;
            margin-bottom: 20px;
            text-transform: $text-uppercase;
            @include breakpoint(x-normal) {
                margin-bottom: 10px;
            }
        }
    }
}

#sidebar-header-wrapper.slide-in {
    transform: translateX(0%);
}

/*----- Toggle Button -----*/

.collapsed-button .lines,
.collapsed-button .lines::after,
.collapsed-button .lines::before,
.collapsed-button.closed .lines::after,
.collapsed-button.closed .lines::before {
    background-color: #ffffff;
}

.collapsed-button {
    cursor: pointer;
    vertical-align: middle;
    align-items: center;
    position: relative;
    z-index: 9999;
}

.lines {
    display: inline-block;
    height: 4px;
    position: relative;
    top: -4px;
    transition-duration: 0.3s;
    transition-property: background;
    transition-timing-function: ease;
    width: 30px;
    &:before {
        top: 11px;
    }
    &:after {
        top: -11px;
    }
}

.lines::after,
.lines::before {
    content: "";
    display: inline-block;
    height: 4px;
    left: 0;
    position: absolute;
    transform-origin: 50% 50% 0;
    transition: top 0.3s ease 0.2s, transform 0.3s ease 0s, background-color 0.3s ease 0s;
    width: 30px;
}

.collapsed-button.closed .lines::after,
.collapsed-button.closed .lines::before {
    top: 0;
    transform: rotate3d(0, 0, 1, 45deg);
    transition: top 0.3s ease 0s, transform 0.3s ease 0.2s;
}

.collapsed-button.closed .lines {
    background-color: transparent;
    transition-duration: 0.1s;
    transition-property: background;
    transition-timing-function: ease;
    &:after {
        transform: rotate3d(0, 0, 1, -45deg);
    }
}

/*----- Sticky Header -----*/

.fixed-header {
    .sticky-header {
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        opacity: 1;
        visibility: visible;
        z-index: 999;
        background: rgba(4, 40, 81, 0.8);
        position: fixed;
        left: 0;
        right: 0;
        padding: 0 30px;
    }
}

/*----- Sphere Animation -----*/

* {
    /* PREVENTS THE GRAY HIGHLIGHTING ON CLICK AND DRAG */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dg.ac {
    display: none;
}
