/*---------------------------------------------------------------
5.0 Main 
---------------------------------------------------------------*/

/*----- Grow Section ------*/

.grow-wrapper {
    background-size: cover;
    background-position: center;
    .title-section {
        margin-bottom: 50px;
        h3 {
            margin-bottom: 30px;
        }
    }
    .grid-item {
        margin-bottom: 30px;
        padding: 0px 50px;
    }
    .img-sec {
        width: 30%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}

/*----- Special Slider ------*/

.special-slider {
    .special-item {
        text-align: center;
        display: inline-block !important;
        float: inherit;
        vertical-align: middle;
        a {
            display: inline-block;
            img {
                width: 70%;
                display: inline;
            }
        }
    }
}


/*----- Everyone Section -----*/

.for-everyone-wrap {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 200px 0px;
    h3 {
        margin-bottom: 30px;
    }
    h5,
    h3,
    h4,
    p {
        color: $color-white;
    }
    .title-section {
        margin-bottom: 50px;
    }
    .bdr-btm h3 {
        &:after {
            background: #fff;
        }
    }
}

/*----- Business Section -----*/

.business-wrap {
    background-size: cover;
    background-position: center;
    .title-section {
        margin-bottom: 50px;
    }
}

.business-info-wrap {
    .info-sec {
        background: $dark-blue;
        padding: 30px;
        height: 215px;
        img {
            width: 50%;
        }
        h5,
        p {
            color: $color-white;
        }
        h5 {
            font-weight: $font-weight-bold;
        }
    }
    margin-bottom: 50px;
}

.business-grid-wrap {
    margin-bottom: 30px;
    .grid-item {
        background: $bg-white;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
        padding: 30px;
        border-radius: 4px;
        min-height: 350px;
        transition: all 0.3s ease-in-out 0s;
        min-height: 400px;
        h5 {
            font-weight: $font-weight-semibold;
            margin-bottom: 30px;
            line-height: 23px;
        }
        ul {
            li {
                font-size: 18px;
                color: #7e7e7e;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                margin-bottom: 8px;
                &:before {
                    content: "\f111";
                    font-family: FontAwesome;
                    font-size: 5px;
                    display: inline-block;
                    vertical-align: middle;
                }
                @include breakpoint(x-normal) {
                    font-size: 16px;
                }
            }
            margin-bottom: 30px;
            height: 200px;
        }
        &:hover {
            transform: translateY(-6px);
        }
    }
    a.button {
        display: inline-block;
        border-radius: 4px;
        background: $bg-sky-blue;
        color: $color-white;
        width: 200px;
        padding: 10px;
        display: inline-block;
        text-align: center;
        border: 1px solid $bg-sky-blue;
        &:hover {
            opacity: 1;
            background: $color-white;
            color: $bg-sky-blue;
        }
    }
}

.business-slider-wrap {
    padding-top: 50px;
    .business-slider-grid {
        h3,
        p,
        h5 {
            color: $color-white;
        }
        p {
            margin-bottom: 2rem;
        }
        h3 {
            margin-bottom: 30px;
            @include breakpoint(x-normal) {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
    .info-sec {
        width: 50%;
        h5 {
            margin-bottom: 0px;
        }
        p {
            line-height: 22px;
        }
    }
    .img-sec {
        width: 30%;
        float: left;
        height: 550px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
    }
    .content-sec {
        width: 70%;
        float: left;
        background: $dark-blue-clr;
        padding: 30px 50px;
        position: relative;
        height: 550px;
        .quote-wrap {
            text-align: right;
            img {
                display: inline-block;
                width: 6%;
            }
        }
        svg {
            height: 50px;
            width: 50px;
            path {
                fill: #ffffff;
            }
        }
    }
}

/*----- Slick Arrow -----*/

.slick-slider {
    &:hover {
        .slick-arrow {
            opacity: 1;
        }
        .slick-prev.slick-arrow {
            transform: translateX(-60px);
        }
        .slick-next.slick-arrow {
            transform: translateX(60px);
        }
    }
}

.slick-arrow {
    position: absolute;
    cursor: pointer;
    top: 44%;
    font-size: 30px;
    padding: 4px;
    border-radius: 100%;
    z-index: 9;
    background: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    opacity: 0;
    width: 55px;
    height: 55px;
    text-align: center;
}

.slick-prev.slick-arrow {
    left: 30px;
}

.slick-next.slick-arrow {
    right: 30px;
}

/*----- Case Study -----*/

.case-study-wrap {
    background: $bg-sky-blue;
    h3 {
        color: $color-white;
    }
}

/*----- Rise Full -----*/

.rise-full-wrap {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 350px 0px;
    position: relative;
}

.rise-full-wrap .rise-full-content-sec {
    background-position: right 98%;
    background-size: cover;
    height: 850px;
    margin: 0 auto;
    width: 850px;
    position: relative;
}

.rise-full-wrap .title-section {
    left: 0;
    position: absolute;
    right: 0;
    top: 60px;
}

.rise-full-wrap .title-section h5 {
    text-transform: capitalize;
}

/*----- Center Section -----*/

.rise-full-content-sec .center-content {
    left: 0px;
    margin: 0 auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 412px;
}

/*----- Number Section -----*/

.rise-full-content-sec .rise-number span {
    background: #2d3766;
    color: #ffffff;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.rise-full-content-sec .content-sec .rise-title,
.rise-full-content-sec .content-sec .rise-number {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 24%;
}

.rise-full-content-sec .content-sec.sec-one .rise-number {
    left: 0;
    right: 0;
    top: -20px;
}

.rise-full-content-sec .content-sec.sec-two .rise-number {
    right: 25px;
    top: 102px;
}

.rise-full-content-sec .content-sec.sec-three .rise-number {
    right: -100px;
    top: 400px;
}

.rise-full-content-sec .content-sec.sec-four .rise-number {
    bottom: 122px;
    right: 12px;
}

.rise-full-content-sec .content-sec.sec-five .rise-number {
    bottom: -18px;
    left: 0;
    right: 0;
}

.rise-full-content-sec .content-sec.sec-six .rise-number {
    bottom: 100px;
    left: 20px;
}

.rise-full-content-sec .content-sec.sec-seveen .rise-number {
    bottom: 400px;
    left: -105px;
}

.rise-full-content-sec .content-sec.sec-eight .rise-number {
    left: 44px;
    top: 75px;
}

/*----- Rise Title Section -----*/

.rise-full-content-sec .rise-title span {
    color: #ffffff;
    font-size: 19px;
    font-weight: 600;
}

.rise-full-content-sec .content-sec.sec-one .rise-title {
    left: 0;
    right: 0;
    top: 126px;
}

.rise-full-content-sec .content-sec.sec-two .rise-title {
    top: 215px;
    right: 130px;
}

.rise-full-content-sec .content-sec.sec-three .rise-title {
    right: 45px;
    top: 396px;
}

.rise-full-content-sec .content-sec.sec-four .rise-title {
    right: 115px;
    bottom: 220px;
}

.rise-full-content-sec .content-sec.sec-five .rise-title {
    right: 0px;
    left: 0;
    bottom: 118px;
}

.rise-full-content-sec .content-sec.sec-six .rise-title {
    bottom: 192px;
    left: 112px;
}

.rise-full-content-sec .content-sec.sec-seveen .rise-title {
    bottom: 395px;
    left: 40px;
}

.rise-full-content-sec .content-sec.sec-eight .rise-title {
    left: 110px;
    top: 200px;
}

/*----- Rise Full Content Section ------*/

.rise-full-content-sec .content-sec .rise-content {
    position: absolute;
    margin: 0 auto;
    width: 40%;
}

.rise-full-content-sec .content-sec .rise-content ul {
    overflow: hidden;
}

.rise-full-content-sec .content-sec .rise-content .social-share li {
    margin: 5px;
    text-align: center;
    width: 80px;
    float: left;
}

.rise-full-content-sec .content-sec .rise-content li {
    list-style: outside none none;
}

.rise-full-content-sec .content-sec .rise-content li {
    color: #2d3766;
    font-size: 18px;
    font-weight: 600;
    list-style: outside none none;
}

.rise-full-content-sec .rise-content .advertisement {
    float: left;
    margin-right: 20px;
    width: 20%;
}

.rise-full-content-sec .content-sec.sec-one .rise-content {
    left: 40px;
    right: 0;
    top: -158px;
}

.rise-full-content-sec .content-sec.sec-two .rise-content {
    right: -220px;
    top: -75px;
}

.rise-full-content-sec .content-sec.sec-three .rise-content {
    right: -392px;
    top: 308px;
}

.rise-full-content-sec .content-sec.sec-four .rise-content {
    right: -201px;
    bottom: 35px;
}

.rise-full-content-sec .content-sec.sec-five .rise-content {
    bottom: -135px;
    left: 78px;
    right: 0;
}

.rise-full-content-sec .content-sec.sec-six .rise-content {
    bottom: -25px;
    left: -800px;
    right: 0;
}

.rise-full-content-sec .content-sec.sec-seveen .rise-content {
    left: -1330px;
    right: 0;
    top: 311px;
}

.rise-full-content-sec .content-sec.sec-seveen .rise-content ul:first-child {
    margin-bottom: 30px;
}

.rise-full-content-sec .content-sec.sec-seveen .rise-content .social-share li {
    margin: 6px;
    width: 30px;
}

.rise-full-content-sec .content-sec.sec-eight .rise-content {
    left: -850px;
    right: 0;
    top: -80px;
}


/*----- Over Everything -----*/

.over-everything {
    .title-section {
        h3 {
            margin-bottom: 30px;
        }
        margin-bottom: 60px;
    }
    ul {
        margin-bottom: 50px;
        li {
            width: 30%;
        }
    }
    .row {
        .title-section {
            margin-bottom: 0px;
        }
    }
    .content-sec {
        margin-bottom: 90px;
    }
    .mobile-wrap {
        position: absolute;
        bottom: 0;
    }
}

/*----- Our Latest -----*/

.our-latest-wrap {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .title-section {
        h3 {
            color: $color-white;
        }
        margin-bottom: 50px;
    }
    .grid-item {
        background: $bg-white;
        padding: 30px;
        border-radius: 6px;
        h3 {
            margin-bottom: 25px;
        }
        a.read-more {
            text-align: right;
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*----- Get In Touch -----*/

.get-in-touch-wrap {
    background: $bg-grey;
    .title-section {
        margin-bottom: 50px;
    }
    form {
        .button {
            width: 120px;
            &:hover {
                background: $dark-blue;
                color: $color-white;
            }
        }
    }
}

/*----- Win Us Section -----*/

.win-wrapper {
    background-size: cover;
    background-position: center;
}

.win-grid {
    .title-section {
        margin-bottom: 50px;
        h3,
        h5 {
            margin-bottom: 30px;
        }
        a {
            color: #363636;
            font-weight: $font-weight-semibold;
            font-size: 30px;
            &:hover {
                color: $sky-blue;
            }
        }
    }
}

/*----- LeaderShip Section -----*/

.leadership-wrap {
    .title-section {
        h3 {
            margin-bottom: 30px;
        }
    }
    .grid-item {
        .featured-img {
            margin-bottom: 30px;
        }
        .content-sec {
            h4 {
                margin-bottom: 0px;
                a {
                    color: #363636;
                }
            }
            p {
                color: #363636;
            }
            span {
                color: #363636;
                margin-bottom: 20px;
                display: block;
                font-weight: $font-weight-semibold;
            }
        }
    }
    .team-grid-wrap {
        margin-bottom: 50px;
    }
    .grid-wrap {
        .featured-img {
            transition: all 0.3s ease-in-out 0s;
            &:hover {
                transform: translateY(-6px);
            }
        }
    }
}

/*----- Bottom Line Section -----*/

.bottom-line-wrap {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0px;
    h3 {
        margin-bottom: 50px;
        color: $color-white;
    }
    p {
        margin-bottom: 0px;
        color: $color-white;
    }
}

/*----- Afraid Section -----*/

.afraid-wrap {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 150px 0px;
    text-align: center;
    margin: 0 auto;
    .blockquote {
        img {
            width: 6%;
            margin-bottom: 25px;
        }
    }
    p {
        color: $color-white;
        font-weight: $font-weight-semibold;
        line-height: 30px;
        margin: 0 auto;
        width: 33%;
        margin-bottom: 30px;
    }
    span {
        color: $color-white;
        font-weight: $font-weight-regular;
    }
}

/*----- What We Do Grid -----*/

.alternate-grid-wrap {
    .relative {
        position: relative;
        .featured-thumb {
            position: absolute;
            bottom: 0;
        }
    }
    .alt-grid-sec {
        h5 {
            margin-bottom: 20px;
        }
        .featured-thumb {
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .content-sec {
            padding: 80px 0px;
        }
    }
}

.alt-sec-fourth {
    .featured-thumb {
        padding: 60px 0;
        width: 75%;
    }
}

.alt-sec-third {
    .featured-thumb {
        padding: 60px 0 30px;
        width: 60%;
    }
}

.alt-sec-fifth {
    .featured-thumb {
        padding: 130px 0;
    }
}

.even-sec {
    background: #f7f7f7;
    text-align: right;
}

/*----- What We Do List -----*/

.what-we-do-list {
    padding: 50px 0px 0px;
    ul {
        display: inline-block;
        text-align: center;
        margin-bottom: 30px;
    }
    .arrow {
        background: #ffffff;
        height: 60px;
        line-height: 60px;
        margin: 0 auto;
        text-align: center;
        width: 60px;
        transition: all 0.3s ease-in-out 0s;
        i {
            font-family: FontAwesome;
            font-size: 30px;
            font-style: normal;
            color: #000000;
        }
        &:hover {
            background: #e7e7e7;
        }
    }
    li {
        width: 19%;
        text-align: center;
        .icon-img {
            margin: 0 auto;
            width: 60%;
        }
        img {
            margin-bottom: 10px;
            width: 100%;
        }
        &.list-inline-item:not(:last-child) {
            margin-right: 0px;
        }
        h6 {
            color: #868686;
        }
        a {
            transition: all 0.5s ease-in-out 0s;
        }
    }
}


.top_space {
    float: left;
    height: 0;
    position: relative;
    top: -100px;
    vertical-align: top;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2898f3;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 2px solid #2898f3;
}

.return-top-wrap i {
    color: #ffffff;
    margin: 0;
    position: relative;
    left: 14px;
    top: 7px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: FontAwesome;
    font-style: normal;
}

#return-to-top:hover {
    background: #ffffff;
    border-color: #2898f3;
}

#return-to-top:hover i {
    color: #2898f3;
    top: 5px;
}

/*----- Blog Grid Section -----*/

.blog-grid-wrapper {
    padding: 60px 0px;
    .blog-grid {
        margin-bottom: 20px;
    }
    .grid-item {
        .featured-thumb {
            margin-bottom: 20px;
        }
        .meta-info {
            margin-bottom: 8px;
            span,
            a {
                color: #767676;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 1px;
                text-transform: capitalize;
            }
            span {
                &:after {
                    background: #767676;
                    content: "";
                    display: inline-block;
                    height: 15px;
                    width: 1px;
                    margin: 0 5px 0 9px;
                }
                &:last-child::after {
                    background: none;
                }
            }
        }
    }
}

.blog-single-wrapper {
    padding: 60px 0px;
}

/*----- Breadcrumb -----*/

.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
    ul {
        li {
            float: left;
            font-weight: $font-weight-semibold;
            font-size: 15px;
            margin: 0 5px 0 0;
            position: relative;
            list-style: none;
            &:after {
                color: #000000;
                content: "/";
                margin: 0 0 0 3px;
            }
            &:last-child {
                &:after {
                    content: inherit;
                }
            }
            a {
                color: #000000;
                font-weight: $font-weight-regular;
            }
            &.active a {
                color: #1c75bc;
            }

        }
    }
}

/*---------- Sidebar ----------*/

.sidebar .widget {
    margin-bottom: 1.5em;
}

.sidebar .widget ul {
    list-style: none;
}

.sidebar .widget .widget-title {
    text-transform: uppercase;
}

/*----- Widget Search -----*/

.sidebar .widget_search #s {
    border-color: #e2e2e2;
    border-radius: 0;
    box-shadow: none;
    height: 55px;
    margin-bottom: 0;
    padding: 10px 50px 10px 20px;
    background: transparent;
}

.sidebar .widget_search #searchsubmit {
    position: absolute;
    right: 8px;
    top: 2px;
    font-family: FontAwesome;
    background: none;
    border: none;
    font-size: 16px;
    color: #8e8e8e;
    transition: all 0.3s ease-in-out 0s;
}

.sidebar .widget_search #searchsubmit:hover {
    color: #1c75bc;
}

.sidebar .form-control::-moz-placeholder {
    color: #231f20;
    font-size: 18px;
    font-weight: $font-weight-regular;
}

.sidebar .widget_search form .form-group {
    margin-bottom: 0;
}

.relative {
    position: relative;
}

/*----- Widget Archive -----*/

.widget.widget_archive,
.widget.widget_categories {
    border: 1px solid #e2e2e2;
    padding: 30px 25px;
}

/*----- Widget Categories -----*/

.widget.widget_categories .cat-item,
.widget.widget_archive li {
    position: relative;
}

.widget.widget_categories .cat-item a,
.widget.widget_archive li a {
    display: block;
    padding: 7px 0px;
    text-transform: capitalize;
    -webkit-transition: padding 0.2s linear 0s;
    -o-transition: padding 0.2s linear 0s;
    transition: padding 0.2s linear 0s;
    letter-spacing: 0px;
}

.widget.widget_archive li a,
.widget.widget_categories li a {
    color: #231f20;
    font-size: 16px;
    font-weight: $font-weight-regular;
    transition: all 0.3s ease-in-out 0s;
}

.widget.widget_categories .cat-item a:hover,
.widget.widget_archive li a:hover {
    color: #042851;
}

.widget.widget_archive li a:hover {
    padding-left: 5px;
}

.widget.widget_categories .cat-item a:before,
.widget.widget_archive li a:before {
    content: "\f0da";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    color: #042851;
}

.widget.widget_categories li.cat-item,
.widget.widget_archive li {
    border-bottom: 1px solid #e9e9e9;
}

.widget.widget_categories li.cat-item:last-child,
.widget.widget_archive li:last-child {
    border: none;
}

.widget.widget_categories li.cat-item a,
.widget.widget_archive li a {
    margin-left: 22px;
}

/*----- Login Section -----*/

.login-wrap {
    background: #d2d6de;
}

.login-logo {
    text-align: center;
    margin-bottom: 30px;
}

.login-logo a {
    display: inline-block;
}

.login-box {
    margin: auto;
    width: 360px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.login-box-body {
    background: #ffffff none repeat scroll 0 0;
    padding: 20px;
}

.login-box-body .login-box-msg {
    text-align: center;
}

.login-box-body .submit .btn {
    background: $dark-blue;
    color: $color-white;
    font-size: 14px;
    height: 40px;
    border: 1px solid $dark-blue;
}

.login-box-body .submit .btn:hover {
    background: $color-white;
    color: $dark-blue;
}

.login-box {
    overflow-x: visible !important;
    overflow-y: auto;
}
