//  Mixins Sections  //
// Media Queries
@mixin breakpoint($point) {
    @if $point==x-large {
        @media only screen and (min-width: 1600px) {
            @content;
        }
    }
    @if $point==large {
        @media only screen and (max-width: 1599px) {
            @content;
        }
    }
    @if $point==x-normal {
        @media only screen and (max-width: 1499px) {
            @content;
        }
    }
    @if $point==normal {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @else if $point==ipad {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $point==mobile-s {
        @media only screen and (max-width: 479px) {
            @content;
        }
    }
}
