/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*---------------------------------------------------------------
3.0 Common
---------------------------------------------------------------*/

/*---------------------------------------------------------------
4.0 Banner
---------------------------------------------------------------*/

/*---------------------------------------------------------------
5.0 Main 
---------------------------------------------------------------*/

/*---------------------------------------------------------------
6.0 Footer
---------------------------------------------------------------*/

/*---------------------------------------------------------------
7.0 Responsive
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

body,
html {
    font-family: $font-family;
}

.wrapper {
    overflow-x: hidden;
}

ul,
ol {
    padding: 0;
    margin-bottom: 0;
}

ol {
    margin-left: 1.1em;
}

address {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.center-block {
    float: none;
}

/*---------- Heading ----------*/

h1 {
    font-size: 70px;
    text-transform: $text-uppercase;
    font-weight: $font-weight-regular;
}

h2 {
    font-size: 50px;
    text-transform: $text-uppercase;
}

h3 {
    font-size: 40px;
    text-transform: $text-uppercase;
    color: $color-dark-blue;
    font-weight: $font-weight-semibold;
    letter-spacing: 2px;
}

h4,
h4 a {
    font-size: 30px;
    font-weight: $font-weight-semibold;
    color: $color-dark-blue;
}

h5,
h5 a {
    font-size: 20px;
    color: $color-dark-blue;
    font-weight: $font-weight-semibold;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
}

p {
    font-size: 18px;
    font-family: $font-family;
    color: $color-grey2;
    font-weight: $font-weight-regular;
    line-height: 24px;
    letter-spacing: 1px;
}

span {
    font-family: $font-family;
    color: $color-grey;
    font-size: 16px;
    font-weight: $font-weight-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption,
    {
    word-break: break-word;
    word-wrap: break-word;
}

/*---------- Form ---------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: $bg-white;
    color: $color-grey;
    font-family: $font-family;
    padding: 8px 15px;
    border: 1px solid $color-white;
    transition: all 0.3s ease-in-out 0s;
    text-transform: capitalize;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border-radius: 4px;
    height: 50px;
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: $form-bg;
    border: 1px solid #0e1326;
    color: #0e1326;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
}

input[type="text"] {
    text-transform: capitalize !important;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.form-control {
    border: 1px solid $bdr-color;
    color: $placeholder-color;
    background: $form-bg;
    padding: 15px;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    font-family: $font-family;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
    vertical-align: middle;
    height: 45px;
    line-height: 45px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
    outline: 0;
    border-color: $color-dark-blue;
    box-shadow: none;
    background: $form-bg;
}

.slick-slide {
    outline: none;
}

.form-control::-moz-placeholder {
    color: $color-grey !important;
}

.form-control::-webkit-input-placeholder {
    color: $color-grey !important;
}

/*---------- 2.1.3 Links ----------*/

a {
    transition: all 0.5s ease 0s;
    font-family: $font-family;
    font-weight: $font-weight-regular;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
    color: $black;
}

/*---------- 2.2 Table -----------*/

table,
th,
td {
    border: 1px solid #eaeaea;
}

table {
    width: 100%;
}

th,
td {
    padding: 0.4375em;
}

table,
dd,
address {
    margin: 0 0 1.75em;
}
