/*---------------------------------------------------------------
7.0 Responsive
---------------------------------------------------------------*/

@media only screen and (max-width: 1680px) {
    /*----- Common Section -----*/
    .title-section h3 {
        font-size: 26px;
    }
    .title-section h5 {
        font-size: 16px;
    }
    .rise-full-wrap .title-section {
        top: 40px;
    }

    /*----- Rise Full Section -----*/
    .rise-full-content-sec .content-sec .rise-content li {
        font-size: 14px;
    }
    .rise-full-wrap .rise-full-content-sec {
        height: 750px;
        width: 750px;
    }
    .rise-full-wrap {
        background-position: center center !important;
        background-size: cover !important;
        overflow: hidden;
        padding: 315px 0;
        position: relative;
    }
    .rise-full-content-sec .rise-title span {
        font-size: 17px;
    }

    /*----- Rise Center Content -----*/
    .rise-full-content-sec .center-content {
        top: 360px;
    }
    /*----- Rise Full Content -----*/
    .rise-full-content-sec .content-sec.sec-one .rise-content {
        left: 75px;
        top: -135px;
    }
    .rise-full-content-sec .content-sec.sec-two .rise-content {
        right: -175px;
    }
    .rise-full-content-sec .content-sec.sec-three .rise-content {
        right: -350px;
        top: 280px;
    }
    .rise-full-content-sec .content-sec.sec-four .rise-content {
        bottom: 15px;
        right: -160px;
    }
    .rise-full-content-sec .content-sec.sec-five .rise-content {
        bottom: -110px;
    }
    .rise-full-content-sec .content-sec.sec-seveen .rise-content {
        left: -1120px;
        right: 0;
        top: 290px;
    }
    .rise-full-content-sec .content-sec.sec-eight .rise-content {
        left: -630px;
        top: -50px;
    }

    /*----- Number Section -----*/
    .rise-full-content-sec .content-sec.sec-one .rise-number {
        left: 15px;
        top: -22px;
    }
    .rise-full-content-sec .content-sec.sec-two .rise-number {
        right: 22px;
        top: 90px;
    }
    .rise-full-content-sec .content-sec.sec-three .rise-number {
        right: -88px;
        top: 350px;
    }
    .rise-full-content-sec .content-sec.sec-four .rise-number {
        bottom: 99px;
    }
    .rise-full-content-sec .content-sec.sec-six .rise-number {
        bottom: 85px;
        left: 26px;
    }
    .rise-full-content-sec .content-sec.sec-seveen .rise-number {
        bottom: 365px;
        left: -90px;
    }
    .rise-full-content-sec .content-sec.sec-eight .rise-number {
        left: 43px;
        top: 64px;
    }

    /*----- Title Section -----*/
    .rise-full-content-sec .content-sec.sec-one .rise-title {
        top: 108px;
    }
    .rise-full-content-sec .content-sec.sec-two .rise-title {
        right: 115px;
        top: 195px;
    }
    .rise-full-content-sec .content-sec.sec-three .rise-title {
        right: 40px;
        top: 350px;
    }
    .rise-full-content-sec .content-sec.sec-four .rise-title {
        bottom: 196px;
        right: 108px;
    }
    .rise-full-content-sec .content-sec.sec-six .rise-title {
        bottom: 173px;
    }
    .rise-full-content-sec .content-sec.sec-seveen .rise-title {
        bottom: 350px;
        left: 40px;
    }
    .rise-full-content-sec .content-sec.sec-eight .rise-title {
        left: 110px;
        top: 175px;
    }
}

@media only screen and (max-width: 1499px) {

    /*----- Banner Section -----*/
    .banner-wrapper {
        height: 600px;
    }
    .for-everyone-wrap {
        padding: 150px 0px;
    }
    .inner-banner-wrapper .banner_caption h1 {
        font-size: 35px;
    }
    .inner-banner-wrapper {
        height: 600px;
    }
    .banner-wrapper .banner_caption h1 {
        font-size: 40px !important;
    }
    .banner-wrapper .banner_caption p {
        font-size: 18px !important;
        line-height: 25px !important;
    }
    /*----- Header Section -----*/
    .header-wrapper .contact-info-wrap a {
        font-size: 20px;
    }
    .slide.header-wrapper .logo-wrapper .logo {
        -webkit-transform: translateX(22%);
        -ms-transform: translateX(22%);
        transform: translateX(22%);
    }
    #sidebar-header-wrapper {
        width: 330px;
    }
    #sidebar-header-wrapper #site-navigation li a {
        font-size: 20px;
    }
    #sidebar-header-wrapper #site-navigation li {
        margin-bottom: 10px;
    }

    /*----- Common Section -----*/
    .pad-tb-80 {
        padding: 50px 0px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 16px;
    }
    p {
        font-size: 15px;
    }
    .pad-tb-50 {
        padding: 65px 0;
    }
    /*----- Banner Section -----*/
    .banner-wrapper {
        height: 650px;
    }
    .banner-wrapper .banner_caption h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .banner-wrapper .banner_caption p {
        font-size: 50px;
        margin-bottom: 20px;
        line-height: 30px;
        font-size: 22px;
    }
    .business-grid-wrap .grid-item ul li {
        font-size: 16px;
    }
    .business-slider-wrap h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    /*----- Rise Full-Section -----*/
    .rise-full-wrap .rise-full-content-sec {
        height: 650px;
        width: 650px;
    }
    .rise-full-content-sec .center-content {
        top: 316px;
    }
    .rise-full-content-sec .center-content h4 {
        font-size: 20px;
    }
    .rise-full-content-sec .content-sec .rise-content {
        width: 50%;
    }
    /*----- Number Section -----*/
    .rise-full-content-sec .rise-number span {
        font-size: 20px;
        height: 40px;
        width: 40px;
    }
    .rise-full-content-sec .content-sec.sec-two .rise-number {
        right: 18px;
        top: 75px;
    }
    .rise-full-content-sec .content-sec.sec-three .rise-number {
        right: -75px;
        top: 293px;
    }
    .rise-full-content-sec .content-sec.sec-four .rise-number {
        bottom: 83px;
    }
    .rise-full-content-sec .content-sec.sec-six .rise-number {
        bottom: 70px;
    }
    .rise-full-content-sec .content-sec.sec-seveen .rise-number {
        bottom: 310px;
        left: -75px;
    }
    .rise-full-content-sec .content-sec.sec-eight .rise-number {
        left: 40px;
        top: 54px;
    }
    .rise-full-content-sec .rise-title span {
        font-size: 15px;
    }

    /*----- Title Section -----*/
    .rise-full-content-sec .content-sec.sec-one .rise-title {
        top: 90px;
    }
    .rise-full-content-sec .content-sec.sec-two .rise-title {
        right: 100px;
        top: 170px;
    }
    .rise-full-content-sec .content-sec.sec-three .rise-title {
        right: 35px;
        top: 304px;
    }
    .rise-full-content-sec .content-sec.sec-four .rise-title {
        bottom: 165px;
        right: 91px;
    }
    .rise-full-content-sec .content-sec.sec-five .rise-title {
        bottom: 95px;
    }
    .rise-full-content-sec .content-sec.sec-six .rise-title {
        bottom: 154px;
        left: 98px;
    }
    .rise-full-content-sec .content-sec.sec-seveen .rise-title {
        bottom: 300px;
    }
    .rise-full-content-sec .content-sec.sec-eight .rise-title {
        left: 99px;
        top: 152px;
    }

    /*----- Content Section -----*/
    .rise-full-content-sec .content-sec.sec-two .rise-content {
        right: -210px;
    }
    .rise-full-content-sec .content-sec.sec-three .rise-content {
        top: 235px;
    }
    .rise-full-content-sec .content-sec.sec-four .rise-content {
        right: -225px;
    }
    .rise-full-content-sec .content-sec.sec-five .rise-content {
        left: 127px;
    }
    .rise-full-content-sec .content-sec.sec-six .rise-content {
        left: -655px;
    }
    .rise-full-content-sec .content-sec.sec-seveen .rise-content {
        left: -978px;
        top: 250px;
    }

    /*----- Win Section -----*/
    .win-grid .title-section a {
        font-size: 22px;
    }

    /*----- Bottom Line Section -----*/
    .bottom-line-wrap {
        padding: 80px 0;
    }

    .afraid-wrap {
        padding: 100px 0px;
    }

    /*----- Grid Section -----*/
    .leadership-wrap .team-grid-wrap {
        margin-bottom: 30px;
    }

    /*----- Business Slider Wrap -----*/
    .business-slider-wrap .img-sec {
        height: 450px;
    }
    .business-slider-wrap .content-sec {
        height: 450px;
        padding: 20px 40px;
    }
}

@media only screen and (max-width: 1280px) {
    /*----- Rise Full Section -----*/
    .rise-full-wrap .rise-full-content-sec {
        height: 560px;
        width: 560px;
    }
    .rise-full-content-sec .center-content {
        top: 274px;
    }
    .rise-full-content-sec .content-sec .rise-content .social-share li {
        width: 60px;
    }
    /*----- Rise Content Section -----*/
    .rise-full-content-sec .content-sec.sec-two .rise-content {
        right: -220px;
        top: -135px;
    }
    .rise-full-content-sec .content-sec .rise-content {
        width: 45%;
    }
    .rise-full-content-sec .content-sec.sec-three .rise-content {
        top: 200px;
        right: -300px;
    }
    .rise-full-content-sec .content-sec.sec-four .rise-content {
        right: -162px;
    }
    .rise-full-content-sec .content-sec.sec-five .rise-content {
        left: 60px;
    }
    .rise-full-content-sec .content-sec.sec-six .rise-content {
        left: -578px;
        bottom: -55px;
    }
    .rise-full-content-sec .content-sec.sec-seveen .rise-content {
        left: -895px;
        top: 158px;
    }
    .rise-full-content-sec .content-sec.sec-eight .rise-content {
        left: -565px;
        top: -80px;
    }

    /*----- Rise Title Section -----*/
    .rise-full-content-sec .content-sec.sec-one .rise-title {
        top: 76px;
    }
    .rise-full-content-sec .content-sec.sec-two .rise-title {
        right: 85px;
        top: 145px;
    }
    .rise-full-content-sec .content-sec.sec-three .rise-title {
        right: 30px;
        top: 260px;
    }
    .rise-full-content-sec .content-sec.sec-four .rise-title {
        bottom: 145px;
        right: 78px;
    }
    .rise-full-content-sec .content-sec.sec-five .rise-title {
        bottom: 80px;
    }
    .rise-full-content-sec .content-sec.sec-six .rise-title {
        bottom: 130px;
        left: 85px;
    }
    .rise-full-content-sec .content-sec.sec-seveen .rise-title {
        bottom: 255px;
        left: 33px;
    }
    .rise-full-content-sec .content-sec.sec-eight .rise-title {
        left: 83px;
        top: 127px;
    }
}

@media only screen and (max-width: 1199px) {
    /*----- Common Section -----*/
    .read-more {
        font-size: 16px;
    }
    .business-grid-wrap .grid-item h5,
    .business-grid-wrap .grid-item h5 a {
        margin-bottom: 18px;
    }
    .business-grid-wrap .grid-item ul {
        margin-bottom: 15px;
    }
    .business-grid-wrap .grid-item ul li {
        margin-bottom: 4px;
    }
    /*----- Header Section -----*/
    .lines {
        height: 3px;
        width: 27px;
    }
    .lines:after {
        top: -9px;
    }
    .lines:before {
        top: 9px;
    }
    .lines::after,
    .lines::before {
        height: 3px;
        width: 27px;
    }
    /*----- ROI Section -----*/
    .over-everything .content-sec {
        margin-bottom: 45px;
    }
    /*----- Slider -----*/
    .business-slider-wrap .content-sec svg {
        height: 25px;
        width: 25px;
    }
    /*----- Rise Full Section -----*/
    .rise-full-content-sec .center-content {
        margin-bottom: 30px !important;
    }
    .rise-full-wrap {
        position: inherit;
        background: none !important;
        padding: 60px 0px;
    }
    .rise-full-wrap .rise-full-content-sec {
        height: inherit;
        width: inherit;
        background: none !important;
        position: inherit;
    }
    .rise-full-wrap .title-section {
        position: inherit;
        margin-bottom: 30px;
    }
    .rise-full-content-sec .center-content {
        left: 0;
        margin: 0 auto;
        position: inherit;
        right: 0;
        text-align: center;
        top: 412px;
    }
    .rise-full-content-sec .content-sec .rise-title,
    .rise-full-content-sec .content-sec .rise-number,
    .rise-full-content-sec .content-sec .rise-content {
        position: inherit;
        float: left;
        text-align: left;
    }
    .rise-full-content-sec .rise-title {
        margin: 0 10px;
    }
    .rise-full-content-sec .rise-title span {
        color: #000000;
    }
    .rise-full-content-sec .content-sec .rise-title,
    .rise-full-content-sec .content-sec {
        overflow: hidden;
        margin-bottom: 30px;
    }

    .rise-full-content-sec .content-sec .rise-number {
        width: 10%;
        text-align: center;
        margin-right: 20px;
    }
    .rise-full-content-sec .content-sec .rise-title {
        width: 28%;
        margin: 8px 20px 8px 0px;
    }
    .rise-full-content-sec .content-sec .rise-content {
        width: 56%;
    }
}

@media only screen and (max-width: 991px) {
    /*----- Common Section -----*/
    .mrgn-btm-sm {
        margin-bottom: 20px;
    }
    .device-mrgn-btm-sm {
        margin-bottom: 30px;
    }
    .device-mrgn-btm-sm:last-child {
        margin-bottom: 0px;
    }
    h5,
    h5 a {
        font-size: 16px;
    }
    /*----- Grow Section -----*/
    .grow-wrapper .grid-item {
        padding: 0 10px;
    }
    /*----- Business Grid Section ------*/
    .business-grid-wrap .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .business-grid-wrap .grid-item {
        min-height: 365px;
    }
    .business-grid-wrap .grid-item ul {
        height: 175px;
    }
    /*----- ROI Section -----*/
    .over-everything .mobile-wrap {
        display: none;
    }
    .over-everything .row {
        text-align: center;
    }
    .over-everything .title-section {
        margin-bottom: 40px;
    }
    .over-everything ul {
        margin-bottom: 30px;
    }
    /*----- Get In Touch -----*/
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"] {
        padding: 10px;
    }
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    textarea.form-control,
    .form-control {
        font-size: 15px;
    }
    /*----- Slider Section -----*/
    .business-slider-wrap .content-sec {
        padding: 22px;
    }
    .business-slider-wrap h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .business-slider-wrap p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 1rem;
    }
}

@media only screen and (Max-width: 767px) {
    /*----- Common Section ------*/
    .title-section h3 {
        font-size: 20px;
    }
    h5,
    h5 a {
        font-size: 14px;
    }
    .dev-mrgn-btm-sm {
        margin-bottom: 30px;
    }
    .dev-mrgn-btm-sm:last-child {
        margin-bottom: 0px;
    }
    p {
        font-size: 13px;
        line-height: 20px;
    }
    /*----- Header Section -----*/
    .lines {
        height: 2px;
        width: 22px;
    }
    .lines:after {
        top: -7px;
    }
    .lines:before {
        top: 7px;
    }
    .lines::after,
    .lines::before {
        height: 2px;
        width: 22px;
    }
    #sidebar-header-wrapper {
        width: 235px;
    }
    #sidebar-header-wrapper .sidebar-title-wrap span {
        font-size: 18px;
    }
    #sidebar-header-wrapper #site-navigation li {
        margin-bottom: 5px;
    }
    #sidebar-header-wrapper #site-navigation li a {
        font-size: 14px;
    }
    #sidebar-header-wrapper .sidebar-content-wrapper {
        padding: 30px;
    }
    .header-wrapper .contact-info-wrap a {
        font-size: 16px;
    }
    .header-wrapper .icon-wrapper {
        margin: 20px 0;
    }
    .slide.header-wrapper .logo-wrapper .logo {
        -webkit-transform: translateX(-55%);
        -ms-transform: translateX(-55%);
        transform: translateX(-55%);
    }
    /*----- Grow Section -----*/
    .grow-wrapper .title-section {
        margin-bottom: 25px;
    }
    /*----- Business Section -----*/
    .business-grid-wrap .grid-item {
        min-height: inherit;
    }
    .business-grid-wrap .grid-item ul {
        height: inherit;
    }
    .business-grid-wrap .grid-item ul li {
        font-size: 14px;
        margin-bottom: 0px;
    }
    /*----- Footer Section -----*/
    .footer-wrapper {
        text-align: center;
    }
    .footer-wrapper .footer-logo {
        width: 40%;
        margin: 0 auto 30px;
    }
    .footer-wrapper .justify-content-between {
        -webkit-box-pack: inherit !important;
        -ms-flex-pack: inherit !important;
        justify-content: inherit !important;
    }
    .footer-wrapper .d-flex {
        display: inherit !important;
    }
    .footer-wrapper .align-self-center {
        -ms-flex-item-align: inherit !important;
        align-self: inherit !important;
    }
    .footer-wrapper .float-right {
        float: inherit !important;
    }
    .footer-wrapper .float-left {
        float: inherit !important;
    }
    .footer-wrapper .address-wrap {
        width: 100%;
    }
    .footer-wrapper .nav-list li {
        float: left;
        margin: 0 12px;
    }
    .footer-wrapper .copyright-wrap .policy-wrap li {
        margin: 0 8px;
        margin-right: 0;
    }
    .footer-wrapper .copyright-wrap span,
    .footer-wrapper .copyright-wrap .policy-wrap {
        float: left;
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .footer-wrapper .copyright-wrap span,
    .footer-wrapper .copyright-wrap .policy-wrap li a {
        font-size: 14px;
    }
    .footer-wrapper .nav-list li {
        margin: 0 12px;
        display: inline-block;
        float: none;
    }
    /*----- Slider Section -----*/
    .business-slider-wrap .info-sec {
        width: 100%;
    }
    .business-slider-wrap .info-sec p {
        line-height: 17px;
    }

    /*----- Rise Full Section ------*/
    .rise-full-content-sec .content-sec .rise-number,
    .rise-full-content-sec .content-sec .rise-title,
    .rise-full-content-sec .content-sec .rise-content {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto 15px;
    }
    .rise-full-content-sec .rise-content {
        text-align: left !important;
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 567px) {
    /*----- Header Section -----*/
    .header-wrapper {
        padding: 0px;
    }
    /*----- Banner Section -----*/
    .banner-wrapper {
        height: 380px;
    }
    .banner-wrapper .banner_caption h1 {
        font-size: 22px;
    }
    .banner-wrapper .banner_caption p {
        font-size: 14px;
        width: 90%;
    }
    /*----- Header Section -----*/
    .header-wrapper .logo-wrapper .logo {
        margin: 0 auto;
        text-align: center;
        width: 55%;
        -webkit-transform: inherit;
        -ms-transform: inherit;
        transform: inherit;
    }
    .slide.header-wrapper .logo-wrapper .logo {
        -webkit-transform: inherit;
        -ms-transform: inherit;
        transform: inherit;
    }
    .banner-wrapper .banner_caption ul li {
        margin: 0 5px;
    }
    .get-in-touch-wrap form .button {
        width: 100px;
        font-size: 14px;
        height: 38px;
    }
    /*----- Slider Section -----*/
    .business-slider-wrap .img-sec {
        display: none;
    }
    .business-slider-wrap .content-sec {
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .banner-wrapper .banner_caption {
        top: 25%;
    }
    .banner-wrapper .banner_caption ul {
        margin-top: 25px;
    }
    .banner-wrapper .banner_caption ul li {
        margin: 0px 0px 12px;
        width: 100%;
    }
}

@media only screen and (max-width: 413px) {
    .banner-wrapper .banner_caption h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .banner-wrapper .banner_caption p {
        font-size: 13px;
        line-height: 22px;
    }
    .header-wrapper .contact-info-wrap a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 374px) {
    .business-slider .slick-track {
        height: 480px;
    }
}
