//  Variables Sections  //
//Colors
$color-dark-blue: #0e1326;
$color-white: #ffffff;
$color-grey: #7981a1;
$color-dark-blue: #182d4c;
$bdr-color: #e0e2e7;
$placeholder-color: #848991;
$color-grey2: #7a7a7a;
$sky-blue: #5678da;
$black: #000000;

//Background Color 
$bg-grey: #f3f3f3;
$bg-sky-blue: #2898f3;
$bg-white: #ffffff;
$form-bg: #e5e7eb;
$dark-blue: #042851;
$dark-blue-clr: #0e1326;
$dark-primary: #0a0815;
$light-primary: #14112c;
$primary: #2d3766;

//Font Family 
$font-family: 'Montserrat',
sans-serif;

//Font Weight
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;
